[2015-07-13 02:00] thequbit opened #1 "Adapt Midas for Station Use"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@thequbit**

[ warning negative Nancy incoming ]

Midas is written in Django ... and is way big ... like way big.  Integrating it into media-public could be difficult, as they are different web frameworks ( mediapublic is slotted

[2015-07-13 02:02] thequbit opened #2 "Site Architecture"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@thequbit**

There are, in my opinion, three methods to split up the "functions" of a modern website:

- Everything is a GET or a POST, and all content is rendered on the server.
    - This uses some kind of template language emb

[2015-07-13 02:04] thequbit opened #3 "Admin Functions"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@thequbit**

So I had the thought that maybe the Admin functionality of the site should actually be built into each page.  So that when someone is viewing the page as an Admin, they have little (+) next to things, where they can

[2015-07-13 02:05] thequbit opened #4 "Social / Community "Hooks""
**@melodykramer**

This is smart: https://www.reddit.com/r/RedditTrophies/comments/3cfep4/6_july_2015/ Reddit incentivizes the community each day by badging "top contributors" which they define. It's a smart way to both recognize top performers and get them to continue posting.

I'm thinking about this in terms of the incentives or hooks we could provide to get people to return to the site. If the

[2015-07-13 02:08] thequbit opened #5 "/learn Section"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@melodykramer **

From gitter.im: "I was thinking earlier about process, and how it's so important to document and share process - particularly for public sector work. There's no one place to do that. There's no place for people

[2015-07-13 02:09] thequbit opened #6 "MVP REST end points"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@thequbit**

Here is my suggestion for what REST endpoints there should be for our MVP:

*A note on users: I think we really want to do OAuth2 against twitter/facebook/google for logins.  I've only done this for OAuth and it was

[2015-07-13 02:14] thequbit opened #7 "Division of labor"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@thequbit**

If we go with option 2 from #2, I think it's appropriate to define who is working on what.

I personally would like to do the back-end server, and use Python2.7/Pyramid/SQLAlchemy to do it.  Can the other members on

[2015-07-13 02:15] thequbit opened #8 "User Authorization Levels"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@thequbit**

So I like to define these up-front so we don't get into a long drawn out conversation of who can do what on the site.  I think there should be four authentication levels, and all end-points need to fit one level.

[2015-07-13 02:16] thequbit opened #9 "Meaningful Contributions from Non-Coders"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@melodykramer **

There are many ways people who don't code can participate in this open source project and we want to be explicit about the ways people who cannot contribute code will a) feel welcome b) contribute meaningfully a

[2015-07-13 02:19] thequbit opened #10 "Landing Page While We Build"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@melodykramer**

Things that need to be on the landing page before we launch the full site.

1. Explanation of project.

2. Ways to get involved depending on skillset and time you have

3. Blog updates (We have the ability to be

[2015-07-13 02:20] thequbit opened #11 "Questions about site layout"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@Gabelsman**

Sorry I'm sorta late to the game commenting on your PR, but I had a few questions/comments about the site layout.

- I think overall I'm a little confused by the purpose of the /find page. It seems that what is inte

[2015-07-13 02:20] #11 closed

[2015-07-13 02:23] thequbit opened #12 "MVP Scope"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@thequbit**

We should talk about this based on @melodykramer deleted comment :p.

I'm down to thin things down a bit for the MVP.  And I think the above list is good.

I think we would want to define a set of things that the sta

[2015-07-13 02:23] #12 closed

[2015-07-13 02:24] thequbit opened #13 "Response Codes"
*Note: this is the contents of a number of comments from another repo.  User's names have been place above the comments to keep a history of what was said.*

----------
**@thequbit**

I'll be returning the following codes with REST actions:

**200**
Response for any GET

**201**
Response from any PUT or POST

**204**
Response from any DELETE

**400**
Response when JSON fields are missing or the bo

[2015-07-13 02:24] #13 closed

[2015-07-13 19:57] melodykramer opened #14 "/Listen + Player"
@ismcodes is working on a playlist generator that will allow people to make playlists from a list of audio and share them.

More to come.

[2015-07-13 19:58] melodykramer opened #15 "Making This Fun"
I am a sample of one, but I wanted to let you know what public media
membership looks like to me, a 57-year-old woman living in the NYC
area, who has been a subscriber to WNYC for a few  years.  I'm also
someone who loves going to Hacks and Hackers, helped start Code for
America Brigade in Hoboken, and is a writer who's been involved in
some form of digital connection for two decades. And I'm a bi

[2015-07-13 20:03] thequbit commented on #14
@ismcodes Could you post your technology list?  Will this be JS only?  Keep things as generic as possible.  I suspect that we'll have a table called `Playlists`, and we'll need to push your JS object into the database ( we'll do this via REST so it will be easy, but still be careful to make things easy to interface to other stuff ).

Additionally, depending on how well this is done ... we may want

[2015-07-13 21:10] ismcodes commented on #14
Was thinking `Playlists` and `PlaylistItems`. jQuery (UI) would be helpful for dragging elements around. I'm currently working on this as a part of the main Pyramid app (on a separate branch), but would be open to having it in a separate repo or something.
If I could interface with the `Recordings` in this app then that could work out nicely.
@thequbit

[2015-07-13 22:58] scripting commented on #15
If there was a Like button here I'd have clicked it.

NPR feels like a duty. It's not fun.

[2015-07-14 17:53] melodykramer commented on #15
Thinking out loud here after seeing how Hillary Clinton asked supporters for [their birthdays](https://twitter.com/HillaryClinton/status/619610275319312384) on Twitter, ostensibly to send them birthday cards but also to obtain interesting demographic information.

What if we could send birthday cards to people on their birthday (or any day really) featuring public media FROM THE DAY THEY WERE BORN

[2015-07-14 18:08] melodykramer commented on #14
Just wanted to leave this here: http://popcornjs.org/ - @ismcodes it might be of use to you, allows specific metadata to be added to specific timestamps.

[2015-07-14 18:15] ismcodes commented on #14
That's pretty awesome.

[2015-07-14 18:23] thequbit commented on #14
One of the devs who worked on Yellr works at Mozilla on popcorn.js.

[2015-07-14 21:26] melodykramer commented on #14
One more: [this](https://github.com/NYPL/oral-history) provides an interface for: browsing, searching, listening to, annotating, and managing oral history audio files -the NYPL said they'd be happy to answer any of our questions.

[2015-07-14 21:59] thequbit commented on #14
From gitter.im:

---

@thequbit wrote:

[2015-07-15 03:56] melodykramer commented on #12
@ismcodes I just want to make sure you see this, particularly the past few comments.

[2015-07-15 04:39] ismcodes commented on #12
:eyes:

[2015-07-17 15:13] thequbit commented on #14
Working on this here: https://github.com/thequbit/mediapublic/pull/1

[2015-07-19 22:20] nkkl commented on #3
Agreed. Shouldn't be hard to do some UI design that makes it very clear when you're in admin mode and what you can edit to make it friendlier to our least tech-enthusiastic users. Ideally this can be fairly WYSIWYG.

[2015-07-19 22:21] nkkl commented on #4
We should have a design conversation about what contributions to incentive and how to make it approachable to new users. I think this is a good idea, just want to make sure it doesn't have unintended ripple effects on the onboarding process.

[2015-07-19 22:28] nkkl commented on #9
Usability testing! We should define a process with meaningful design + coding milestones and script up do-at-home usability tests that people can run through. It gives them a chance to see what we're doing, and be helpful, in a structured way that is ideally low burden on them.

[2015-07-19 22:30] nkkl commented on #15
I vote for a big brainstorming session with sticky notes and a follow up affinity diagramming exercise. We can then distill that into low-hanging fruit and longer term investments. Agreed that there should be joy in supporting public media.

[2015-07-20 02:55] GabeIsman opened #16 "Distributed workflow"
Wanted to jot down some quick thoughts on workflow. The way I see it there are two basic options:

1. Everyone forks mediapublic/mediapublic and works in their own repository. This is the git distributed workflow.
2. Everyone is a contributor to mediapublic/mediapublic and works in branches. Some core group of contributors have commit bits to master. This is the more centralized workflow.
3. Core

[2015-07-20 03:01] thequbit commented on #16
I've always done things using flow 1.  This makes me quite partial to it :).   I think this works well when the team is a bit bigger ( usually I play the whole 'never approve your own PR'   game in an attempt to keep code quality as high as possible).

I'm all for trying something new, however I'm not a huge fan of a bazilion branches for features.  If we go with flow 2 I'd suggest a branch purge

[2015-07-21 18:07] thequbit commented on #14
@ismcodes I thought I would take a second to outline what I envision this being to make sure my vision is the same as yours.  There would be six end points:
- Get all Playlists ( just by author, name, description, category )
  - `GET`
  - `/playlists`
- Create A Playlist
  - `POST`
  - `/user/:{uid}/playlists`
  - `{"title": "", "description": ""}`
- Get Users Playlists ( author, name, description

[2015-07-21 18:19] ismcodes commented on #14
I think I was just focused on having a central editor page, but it makes sense to only be able to delete from the individual playlist. Thank you for this!

[2015-07-21 18:21] thequbit commented on #14
Gotcha.  And you are welcome!

Yea, sometimes just painting the full picture is the best way to go about things - make sure everyone is on the same page, and that there are kind of 'check-boxes' to go to when you're stuck.

Let me know if you need anything else for this stuff.  I'll wait for your next email/PR and then we can review what you've got!  Keep up the great work!

[2015-07-21 19:07] thequbit opened #17 "Feature/Page List"
I think we should have a outline of what the site looks like.  Here is my first take at it ... I think we can refine this pretty quickly if everyone gives some input :).  I did this ( kind of ) discussed in #6, but I think it's important to have this actually outlined

- Home
    - This is the landing page for the site.  It should have a brief overview of what it is we're doing here, and simple, e

[2015-07-22 16:30] melodykramer commented on #17
I think we should have a outline of what the site looks like.  Here is my first take at it ... I think we can refine this pretty quickly if everyone gives some input :).  I did this ( kind of ) discussed in #6, but I think it's important to have this actually outlined
- Home
  - This is the landing page for the site.  It should have a brief overview of what it is we're doing here, and simple, easy

[2015-07-22 17:41] nkkl commented on #17
Feature request: can someone make a visual (sketch) of this? That would
cause me to grok it about a thousand times better. :)

@nkkl
323.205.6533
On Jul 22, 2015 9:30 AM, "Melody Kramer" notifications@github.com wrote:

[2015-07-22 17:59] thequbit commented on #17
/me raises hand.

@nkkl I'll put together a little visual of sorts this evening with @melodykramer comments, as well as updating my issue contents with her comments.

[2015-07-22 19:57] thequbit commented on #17
I've uploaded mock-ups here:

http://mediapublic.github.io/mockups/

Don't forget to click on one of the stations ( they all go to a bogus page ).

I've added the notes above to each page.

[2015-07-22 21:11] GabeIsman commented on #17
### A wild Negative Nancy appears

Maybe this is the wrong place to bring up these concerns but I continue to have nagging doubts that we really haven't yet focused in on what exactly we are trying to do, and what assumptions we are testing.

I see three distinct problems that we are trying to solve.
1. The public has no way of contributing to a public radio station in non-monetary
   ways.
2. Pub

[2015-07-22 22:00] nkkl commented on #17
I think that I can add value here because PM and designer, but I would need
us to commit to a meeting where we could see and hear each other in team
time for at least an hour probably 2 or 3. Your concerns are valid and
should be addressed. I don't think they are showstoppers, but we may need
to scope down to something really crisp for our MVP and then build up from
there.

@nkkl
323.205.6533
On J

[2015-07-22 22:24] GabeIsman commented on #17
I am definitely pro face-to-face team conversations!

[2015-07-23 00:54] thequbit opened #18 "Get Python/Pyramid code merged into master"
Commit `server` from `thequbit/mediapublic` to `mediapublic/mediapublic/tree/master`.

[2015-07-23 00:55] thequbit opened #19 "Add build instructions for pyramid app"
Make sure build instructions are clear and concise for building the pyramid app.

[2015-07-23 00:56] thequbit opened #20 "Add example wiki page for REST end-point"
Since we're still *kind of* in limbo about REST end point definitions, I'll add an example of a wiki page for one of the existing ones.  We can modify/delete/etc. as needed in the future.

@GabeIsman would be looking for your "sign-off" on the format before closing this.

[2015-07-23 00:57] thequbit opened #21 "Get client app merged into master"
Create client stubs and build script ( can leave out linting, just get it building ) for the front-end website client.

[2015-07-23 00:58] thequbit opened #22 "Add build instructions for client app"
Make sure build instructions are clear and concise for building the client app.

[2015-07-23 01:02] thequbit opened #23 "Have MVP definition meeting"
This is assigned to everyone.

As @nkkl suggested [here](https://github.com/mediapublic/mediapublic/issues/17#issuecomment-123879667), we really should have an meeting about our actual MVP definition.  We've had some great async communication up to this point, but I agree with @nkkl we should get everyone in the same *virtual* room.

I'll send a follow-up email to this issue with a proposed agenda

[2015-07-23 01:07] thequbit opened #24 "Outline/Discussion of Goals"
I am reposting this here, so it doesn't get lost at the bottom of another issue thread ...

---------

@GabeIsman wrote:
Maybe this is the wrong place to bring up these concerns but I continue to have nagging doubts that we really haven't yet focused in on what exactly we are trying to do, and what assumptions we are testing.

I see three distinct problems that we are trying to solve.

1. The publ

[2015-07-23 01:11] thequbit commented on #24
If I had my vote, I would say number 2, and then try and pull in features of  number 1 as we go along.  Something like ...
1. Create Station Landing Pages
2. Create Ability to Search Stations
3. Create Learn Pages
4. Create Ability to Search for Howtos ( Learn Pages )
5. Create Person Pages
   - Station Personal
   - Contributors ( Coders, Translators, Taggers, etc. )
   - Everyone else ( general

[2015-07-23 05:04] nkkl commented on #17
Woo!

Obnoxiously, I am traveling tomorrow night through Monday evening and do
not intend to bring a computer. However, I will make time after I get back.

@nkkl
323.205.6533

On Wed, Jul 22, 2015 at 3:24 PM, Gabe Isman notifications@github.com
wrote:

[2015-07-24 12:08] melodykramer commented on #24
I really like what @thequbit suggests. I think there's a big need for communication, both with stations and the public. I'm hopeful that we will be able to apply for / receive additional funding, and having a prototype, a user base, and a roadmap will be key to future funding, I think.

[2015-07-27 00:25] melodykramer commented on #17
@thequbit @nkkl @GabeIsman How about Tuesday evening?

[2015-07-27 00:25] melodykramer commented on #23
I propose Tuesday or Wednesday evening, any time after 5pm ET. @nkkl @thequbit @GabeIsman

[2015-07-27 00:30] thequbit commented on #23
I can usually do any day after 7:30pm Eastern, but could make something happen at 7 if need be.

[2015-07-27 00:32] GabeIsman commented on #23
Both Tuesday and Wednesday are fine with me!

[2015-07-28 17:17] melodykramer commented on #14
@ismcodes This might be of interest for you: https://github.com/WGBH/PBCore_2.1

[2015-07-29 01:08] melodykramer opened #25 "Sketch out the first Newsletter"
Who We Are:

SHOW AND TELL

Sketch: Vision Statement and maybe page flow

Questions: Are people excited by this vision statement? Are there any points that are confusing? Are there any thoughts that don't apply to them?

[2015-07-29 01:08] melodykramer commented on #25
@nkkl

[2015-07-29 01:16] melodykramer commented on #24
Notes from MVP chat [here](https://github.com/mediapublic/mediapublic/wiki/Notes-for-Station-Page-Experience.)

[2015-07-29 18:23] melodykramer commented on #24
I keep thinking about this and want to push us a bit on the stations as landing pages idea.

[This story](http://michiganradio.org/post/unique-ann-arbor-editor-prefers-print-journalism#stream/0) is interesting no matter where you live. I don't live in Michigan. How do I find that story?

People who move to Rochester don't know the station's call letters are WXXI. They know that they might want to

[2015-07-29 18:32] nkkl commented on #24
I think stations as landing pages is step 1. I think we evolve from there,
but we need to be thoughtful about that though, because it's harder to do
well.

@nkkl
323.205.6533
On Jul 29, 2015 11:23 AM, "Melody Kramer" notifications@github.com wrote:

[2015-07-29 18:32] thequbit commented on #24
First, @melodykramer I modified your comment because the period in the URL to the wiki wasn't being included by github "auto make it a link".  It is linking correctly now.

Second, @melodykramer I was thinking that we would still have a "search" page.  A page that would look similar to the craigs list "browse for a city" page ( ref: http://www.craigslist.org/about/sites ).  We can even do the 'sha

[2015-07-29 19:04] melodykramer commented on #24
Yes, agreed. :+1: I like mulling over this core.

[2015-07-30 15:09] nkkl commented on #25
Please have thoughts.

[image: Inline image 1]

On Tue, Jul 28, 2015 at 6:09 PM, Melody Kramer notifications@github.com
wrote:

[2015-07-30 23:15] thequbit commented on #23
I think we can close this one, since we had our meeting.  We can keep async chat available [here](https://github.com/mediapublic/mediapublic/issues/24)

[2015-07-30 23:15] #23 closed

[2015-07-30 23:48] thequbit commented on #25
@nkkl you're image didn't come through ... can you upload to imgur and post link here?

[2015-07-31 02:23] nkkl commented on #25
![image](https://cloud.githubusercontent.com/assets/766654/8999525/7975397e-36f0-11e5-97aa-37a4d8dac685.png)

[2015-07-31 02:26] thequbit commented on #25
This is amazing.  Way awesome.

[2015-07-31 16:07] melodykramer commented on #25
OH YES.

[2015-08-02 23:16] melodykramer opened #26 "A Public Intranet for Public Media (newsletter feedback)"
Link to newsletter: http://tinyletter.com/mediapublic/letters/a-public-intranet-for-public-media

So what questions do you have?

[2015-08-04 04:04] ismcodes commented on #14
I'm back, gonna be working on playlist bookmarklet now. I'm thinking for MVP:
user clicks bookmarklet on a mediapublic single recording page or another station's single audio page
then types in playlist id to add the audio to.
Obviously would have a nicer UX past mvp

Thanks for all the resources @melodykramer!

[2015-08-04 13:42] #25 closed

[2015-08-04 15:41] melodykramer commented on #4
Let's do this soon. We don't want to build anything without considering this.

[2015-08-04 17:02] nkkl commented on #4
Let's set up a brainstorming session where we can go nuts on the stickiness
problem.
On Aug 4, 2015 8:41 AM, "Melody Kramer" notifications@github.com wrote:

[2015-08-04 17:17] machikoyasuda commented on #15
:+1: :sparkles: :heart:

[2015-08-04 17:17] thequbit commented on #4
:+1:

I'm back from vacation Friday.   Any time next week works for me.

[2015-08-04 23:49] #22 closed

[2015-08-05 01:42] thequbit commented on #21
Closed with #27 merge.

[2015-08-05 01:42] #21 closed

[2015-08-05 01:43] thequbit commented on #19
Exists within PR and README.  Could use some work, but should be apparent enough.  Will follow up with better ones once we get into the actual end-point definitions more.

[2015-08-05 01:43] #19 closed

[2015-08-05 01:44] thequbit commented on #18
Closed with #28 .

[2015-08-05 01:44] #18 closed

[2015-08-05 01:44] thequbit commented on #20
Not yet done :(.  Will get to this tomorrow.

[2015-08-05 23:05] thequbit commented on #20
Created an index page:

https://github.com/mediapublic/mediapublic/wiki/REST-End-Point-Index

And an example REST page for /organizations ( will fill in momentarily ):

https://github.com/mediapublic/mediapublic/wiki/REST-End-Point----organizations

[2015-08-06 01:08] ryansb commented on #20
So if the idea is "document REST endpoints for humans to read" a format like swagger would be preferable to a wiki page.

It has a swanky [editor](http://editor.swagger.io/#/) and can generate nice docs for developers. Some languages can also autogenerate clients from swagger docs, which is pretty great.

[2015-08-06 01:14] ryansb commented on #16
For core contributors, you can still use a feature branch flow within the repo while also reviewing in pull requests.
1. Make a branch feature-station-search on the main repo
2. Add commits to branch
3. Open a pull request to master (or develop, as appropriate)
4. Others review the branch and merge it
5. After merging, delete the branch

For non-core developers, the process is identical except tha

[2015-08-06 01:19] ryansb commented on #8
Instead of writing your own authorization system, I'd highly recommend using [pyramid.authorization](https://pyramid.readthedocs.org/en/latest/tutorials/wiki/authorization.html) since it handles the hard parts like actually checking ACLs and mapping them to pieces of data.

[2015-08-06 01:23] thequbit commented on #8
@ryansb do you have an example of a ( preferable simple ) project that implements this?  I personally find the Pyramid docs rather difficult to understand.

Also, I really appreciate you comments thus far.  Thanks!

[2015-08-06 01:30] ryansb commented on #8
So the last time I used it it was still under zope, but I can probably put together a demo in the next week or so.

[2015-08-06 01:32] thequbit commented on #8
That would be maximally awesome.  You da man!

[2015-08-07 01:07] ryansb opened #30 "HTTP status codes used improperly"
Any caller to `check_payload` that sends invalid JSON gets an error back, but returns an HTTP 200.

For example, when sending a malformed user, I get:

[code]

[2015-08-07 01:09] ryansb commented on #30
I'll have a patch up for this soon.

[2015-08-07 01:46] thequbit commented on #30
:+1:

I was just thinking this yesterday,  and forgot to open a ticket.   Thanks!

[2015-08-09 18:59] thequbit commented on #30
Closed by #32 .  Thanks @ryansb !

[2015-08-09 18:59] #30 closed

[2015-08-09 23:50] ryansb commented on #30
\o/

[2015-08-09 23:56] ryansb commented on #17
Are any notes from this meeting around? I'd love to hear what kind of user stories/goals you came up with.

[2015-08-10 00:05] thequbit commented on #17
@ryansb we didn't do a good job with taking written notes ( I did not at least ).  I think @melodykramer may have??

We decided that we wanted to something like solution 2 above ...

... with a hope to solve problem 2 and 3 above ...

I think, at least, that is what I got out of it.  We're having another meeting on Tuesday to refine this, I believe.

[2015-08-10 00:10] thequbit commented on #17
@ryansb I knew I posted about this somewhere, I just found it here:

https://github.com/mediapublic/mediapublic/issues/24#issuecomment-123923702

That is kind of the thought/flow.  @melodykramer was awesome and did take notes ( knew she did, ha ).  They are here:

https://github.com/mediapublic/mediapublic/wiki/Notes-for-Station-Page-Experience.

[2015-08-10 12:57] reblavoie commented on #26
A lot pubradio stations are on the Core Publisher platform. While some of us on the digital side have adopted cloud-based tools, code, hacked iFrames, redirects, and other creative workarounds for CP's limitations, there isn't a central wiki for this stuff. Is there some potential with this project to create such a thing, like a repository that's searchable in which we can share our tricks and fav

[2015-08-10 13:04] melodykramer commented on #26
Yes! I keep seeing questions on the many public radio social platforms that ask for these things! It would be great to have them in once place, particularly if it's open and easily searchable. cc: @thequbit

[2015-08-10 13:20] thequbit commented on #26
Absolutely.  I think we should keep this specific question in mind when designing the /Learn section.  I really do like the wiki format, however it is very easy to have it fall apart into worthlessness ( read: it takes someone who really knows what they are doing to make sure the wiki doesn't become a complete mess ).

@reblavoie thanks for passing this along!

[2015-08-10 20:51] ryansb commented on #26
@reblavoie Are you looking for a searchable set of tutorials on doing X with Core Publisher (or other pubradio things), or are you thinking more along the lines of a wiki page for each separate tool?

[2015-08-10 22:30] ryansb opened #34 "What existing tools can/should we be using?"
For the station page, does NPR have existing datasets about the stations, their staff etc?

Is there a good reason not to try to integrate more tightly with the existing tools provided by [NPR digital services][nprds]? I think "give us your station's ID in Core Publisher and the content API, and we'll port things from there" would be an *awesome* way to get people onto the platform.

As an outside

[2015-08-11 00:34] melodykramer commented on #26
@ryansb I'm envisioning more of a Reddit/Quora style Q/A or place to collect material (radio stories featuring kids, radio stories featuring long-form journalism, etc.) that people frequently use in presentations.

[2015-08-11 13:23] melodykramer commented on #34
Hey @ryansb - let's talk about this tonight. There's less out there than you'd think, and I think we were envisioning this initially as something that could work [like this](http://ohanapi.org/), that is, stations could update information (and have more access) than the general public.

CP doesn't have open code or an open API. I don't think we're thinking Wiki as much as something that functions

[2015-08-11 13:37] melodykramer commented on #34
Also number 4 under key takeaways might be a useful read: http://www.niemanlab.org/2015/07/putting-the-public-into-public-media-membership/

[2015-08-12 01:07] thequbit opened #36 "Add support for multiple addresses"
@ryansb brought up a good point that we probably want to support `n` addresses, and not just 1.  We'll need a new table, and a one-to-many table to connect the addresses to the organization.  This will require a ForeignKey and a relationship ( with lazy='joined' ).  The to_dict() function response dictionary will need to have `'addresses': [a.to_dict() for a in self.addresses]`.

[2015-08-12 01:08] thequbit commented on #20
Removing from milestone.  Will need to investigate the best way to document endpoints.

[2015-08-12 01:13] thequbit opened #37 "Add remaining endpoints to pyramid server"
We currently have:

    /users
    /user_types
    /recording_categories
    /organizations
    /blogs

We are missing:

    /people
    /recordings
    /howtos
    /playlists

I believe these were not implemented by @ryansb during the re-org due to a lack of understanding of what my initial "vision".

[2015-08-12 01:14] thequbit commented on #20
Closing this.  I will re-open as a new ticket when we have a better idea of our direction for system-wide documentation.

[2015-08-12 01:14] #20 closed

[2015-08-12 01:15] thequbit opened #38 "Update tests with new endpoints"
Need to update tox tests with all new endpoints.

[2015-08-12 01:21] thequbit opened #39 "Implement REST endpoints within backbone.js"
We need to define all of the REST endpoints within backbone.js so they can be used within the front-end client.

@GabeIsman assigning this to you, but don't feel pressured to get all of them implemented.  If you just do one, I'm sure I can copy pasta all the things.

[2015-08-12 01:39] ryansb commented on #37
That'd be correct. We can powwow at a post-flock event sometime this week about the data model & REST endpoints.

[2015-08-12 01:40] ryansb commented on #38
Do you feel confident enough with Gabbi to do all of them?

[2015-08-12 01:42] ryansb commented on #36
Additionally, make sure you tell sqlalchemy to create an index on the foreign keys in the address->org relation.

[2015-08-12 01:44] ryansb commented on #20
Fun fact: cornice can autogenerate sphinx docs, so I think it'd make a lot of sense to standardize on sphinx for API, deployment, developer, and usage docs.

[2015-08-12 01:44] thequbit commented on #38
Nope, not at all.  But I'm confident that I'll be able to get it somewhat done enough to submit a PR and have you tell me what I did wrong :package:

[2015-08-12 01:44] thequbit commented on #36
:+1: indexes for the win.

[2015-08-12 01:45] thequbit commented on #37
I think we can make that happen!

[2015-08-12 01:45] thequbit commented on #20
Agreed.  I'll pick your brain about that at some point in the next "sprint".

[2015-08-12 03:58] GabeIsman opened #40 "Set Access-Control-Allow-Origin header on API responses"
This is not the only solution of course. We could put a server in front of the api and webserver, and may want to do that eventually, but for now a permissive access control policy will enable developing against the api.

[2015-08-12 04:01] GabeIsman commented on #40
http://stackoverflow.com/questions/21107057/pyramid-cors-for-ajax-requests

[2015-08-12 15:49] katemyers commented on #26
Is there some possibility of cross-publishing or at least linking to existing resources? One advantage to a Wikipedia versus a Quora when it comes to answers is that you're naturally linking out to places where it has been answered (and doesnt cause you to have to replicate them on your intranet).

For example: There are many existing resources on Tumblr strategy for instance: http://digitalservic

[2015-08-12 16:43] katemyers commented on #9
Happy to contribute on big picture strategy - @melodykramer, you know I'll try to do what I can.

[2015-08-12 17:11] thequbit commented on #9
@nkkl I'm a big fan of "Instructional Overlays" ( ref list: http://www.sitepoint.com/web-tour-instructional-plugins/ ) for things like Usability testing and "first time using the site".

[2015-08-12 19:12] melodykramer commented on #26
I think most of what we're doing is going to be linking outwards - and I think Quora, Wikipedia, Ask Metafilter - etc. do that a great deal. I think we're thinking about how to structure this - a wiki is very different than git - not in terms of outcomes, but how changes are integrated into the final piece.

[2015-08-12 19:17] melodykramer commented on #26
I actually really like this: https://github.com/18F/hub/ - it allows for different levels of access, it's easy to use, and we use it like a wiki - but it requires two eyeballs before changes are made.

[2015-08-14 16:04] ryansb commented on #40
I see, CORS support is builtin for cornice. Also, we should talk about the design of the endpoints. It's possible to use UWSGI to serve the static content in addition to the REST server.

Example:
/ would go to the JS application
All API enpoints would live at "/api/v1/<ENDPOINT>" and that path would be munged by UWSGI.

[2015-08-14 19:11] ryansb commented on #40
Obsoleted by #44

[2015-08-19 16:59] katemyers commented on #34
One thing to note: NPR DOES have APIs that we could likely set you up to use that will contain:
- station metadata
- station broadcast schedules
- station podcasts
- station logos/branding

And then the story API may contain for a few:
- stories published by those stations via Core Publisher

Let me know if that's something helpful. We would need to get you access to it, but it may help give you a

[2015-08-21 02:15] melodykramer opened #45 "Design sketches for Media Public"
https://docs.google.com/document/d/1mw5T2WK-HfKCWKi5b0X_p-j4L_0iHdKMkxHIMxCYevI/edit?usp=sharing

[2015-08-21 02:18] melodykramer commented on #45
Draft of Newsletter 2: Sunday
1. What Tim has done
2. Google Hangout next week to work in real time on issues (we'll need some issues for the audience to work on)
3. What Nikki and Mel have been up to
4. What Isaac is working on
5. Meet Ryan
6. We have a designer for a logo! He's going to work in public.

[2015-08-24 12:44] #40 closed

[2015-08-24 12:52] ryansb opened #46 "Community Introductions - Welcome!"
Hello, and welcome to Mediapublic. This thread is here for people new (and less new) to introduce themselves and learn a little about [markdown formatting](https://guides.github.com/features/mastering-markdown/) in Github issues.

In your comment, introduce yourself and put in a link to something interesting you've listened to lately (whether that's on public radio or not).

I'm Ryan, and I pay th

[2015-08-24 17:10] thequbit commented on #46
**Hello!**

My name is Tim Duffy.  I'm an embedded systems designer and programmer by day, and a civic hacker by night.  My tool of choice is usually Python, but I find myself writing C#, Android, PHP, Javascript, HTML/CSS, C, C++ ( QT ), and VHDL on a regular bases.  I'm all about open everything.  Free and Open Source Software ( FOSS ) is a big part of my life.  I've been reading a lot about civ

[2015-08-24 18:41] ismcodes commented on #46
Hi, I'm Isaac :wave:
I'm a high school senior in the northern suburbs of Chicago and have taught at [Dev Bootcamp](http://devbootcamp.com) over the past two summers. In my free time, I run cross country for my school and work on side projects ([my most recent one](http://apple.co/1f9Uvdt)) and occasionally some open source ones like this.
I haven't listened to anything besides music in the past fe

[2015-08-26 12:29] melodykramer opened #47 "Cross-Sector"
I'm sitting with @jcstearns right outside of the NYTimes and just showed him an early iteration of the site. He suggested that if other orgs. spin this up (let's say public schools) that there's a way to facilitate cross-sector learning as well. i.e. (if I work at a public school in science, I have a way to surface all of the science reporters in public media.)

This is not an MVP idea. It's like

[2015-08-26 12:55] thequbit commented on #47
Multi-tenant is always sounds like a good idea, but there are all kinds of scalability issues with it.  All solvable.  Agreed it is not within the MVP scope, but we should keep it in the back of our minds for the future.

[2015-08-29 14:21] ryansb opened #49 "Add Twitter Oauth capability to backend"

[2015-08-29 14:22] ryansb opened #50 "Add `extras` field in model objects"
To help make it easier for frontend devs to make changes, add an "extras" field that can contain arbitrary JSON and will be stored by the server.

Anything in the extras field that seems like it will stay can be moved to an actual field, of course.

[2015-08-30 20:22] thequbit commented on #50
I'll take this on this one, and try and get a PR in the next few days for your review @ryansb .

[2015-08-30 20:22] thequbit commented on #49
We'll want a solid way to turn this off for development.  We talked about this in our meeting the other day, and I think it will be important.

[2015-08-31 15:38] ryansb commented on #49
Yeah, my thought was to have a way to short-circuit it in development to statically set a user to be used as the authenticated identity (e.g. a twitter username)

[2015-09-13 17:27] ryansb commented on #49
Just an update for everyone - I've been working on this over the weekend and haven't gotten all that far. I have [velruse](http://pythonhosted.org/velruse/) integrated, but not the data models needed to retain user secrets.

[2015-09-13 17:32] thequbit commented on #49
Ryan, what can I do to help?  Have you touched the models at all?  I think I can do it he JSON extras real quick here, if that would help.

[2015-09-13 17:35] ryansb commented on #49
I just need to keep working on it. OAuth is just a pain to get running when you don't have a public IP.

I've edited the user model a little. You can go ahead and do the JSON extras stuff, but it's not going to be helpful for OAuth stuff.

[2015-09-13 18:10] thequbit commented on #49
Kk, I'll do my best to submit the PR this afternoon.

[2015-09-14 02:19] ryansb commented on #49
See #51

[2015-09-14 02:21] ryansb commented on #49
Actually, I'm going to close this and move discussion to the PR.

[2015-09-14 02:21] #49 closed

[2015-09-14 19:58] thequbit opened #52 "Create velruse fake project for twitter auth tests"
We need a sub egg to make CI actually work with our OAuth framework.  Need to create a super simple pyramid sub-app that will let us fake out CI to test our end points behind the OAuth.

[2015-09-15 03:10] ismcodes opened #53 "Code of Conduct"
I think it's a good idea to have a CoC on this project, and it could be put in pretty quickly.
The [Contributor Convenant](http://contributor-covenant.org/version/1/2/0/) or the [Open Code of Conduct](http://todogroup.org/opencodeofconduct/#Media Public/abuse@mediapublic.io) are some I found after a cursory search. I believe the Contributor Covenant was recently added to [Rails](http://github.com/

[2015-09-15 11:49] ryansb commented on #53
Either of those works for me. I've used Contributor Covenant on past projects, FWIW.

[2015-09-15 13:23] melodykramer commented on #53
Yes, [here is 18F's](https://github.com/18F/code-of-conduct)

[2015-09-17 01:34] GabeIsman opened #55 "Organization Page"
The station page should have:

- Station summary
- Station contact information
- List of known podcasts ( and all their recordings )
- List of all the employees of the station

This issue does not include any kind of fancy UI or embellishments, nor does it include the 'How can I help' text areas.

[2015-09-24 22:38] GabeIsman opened #58 "CORS settings do not apply to errors and framework-level responses"
Whenever I get an error response (e.g. 500, 415) I end up with a CORS error. Would be nice if we could figure out a way to apply CORS headers to all responses.

[2015-09-24 22:44] GabeIsman opened #59 "Content-Type: application/json should not be required on GET requests"
When querying the API my requests are rejected with status 415 - Unsupported Media Type. This seems wrong. Why should I need to specify the content-type of my (contentless) GET request? The Accept header specifies that application/json is an acceptable response medium.

[2015-09-24 23:17] thequbit commented on #58
I suspect this is happening because the cors policy isn't being applied to the response unless it's 2xx.  I'm sure @ryansb has some thoughts, but I think we can back-burner this until we get the rather large PR from ryan figured out with all of the twitter auth stuff.  That okay with you @GabeIsman ?

[2015-09-24 23:18] thequbit commented on #59
This makes sense to me.

[2015-09-25 04:13] GabeIsman commented on #58
@thequbit Yep. No rush on this.

[2015-09-25 19:16] ryansb commented on #58
Ah, I see. I'm not sure how to apply it to everything automatically, but I can apply those to the error/forbidden views.

[2015-09-26 00:22] GabeIsman opened #61 "Model validations too strict"
When I POST to /organizations with some fairly reasonable data I get this response:
[code]
An organization doesn't necessarily have two websites, they might not even have one! I think we should relax our standards about which fields can be nullable (probably generally, but these three for sure).

[2015-09-26 00:23] GabeIsman commented on #61
BTW, wanted to clarify that the data I posted had these fields as empty strings.

[2015-09-26 01:20] ryansb commented on #61
Ok, that's great feedback.

For reference, those validations are derived from what fields we have required in the database. You can fix these in server/mediapublic/models.py by making the field optional.

Since nobody uses fax machines, you could head [here](https://github.com/mediapublic/mediapublic/blob/develop/server/mediapublic/models.py#L372) and change `fax = Column(UnicodeText, nullable=Fal

[2015-09-26 01:20] ryansb commented on #61
Also, as I'm sure you know, since you're the only consumer of the API at the moment we can make whatever sweeping changes you want.

[2015-09-26 02:05] GabeIsman commented on #55
I have run into the road block that there currently is no way to interact with the people and podcasts resources through the API. I've currently got the basic station details on the page.

<img width="1438" alt="screenshot 2015-09-25 19 04 28" src="https://cloud.githubusercontent.com/assets/697801/10115330/587f2b90-63b8-11e5-9424-7d5b1f73b265.png">

Going to defer work on this for now until the AP

[2015-09-26 02:07] GabeIsman opened #63 "Add podcast resource"
There should be a notion of a Podcast (series? show?). A collection of recordings which are together an entity.

[2015-09-26 02:10] thequbit commented on #63
Agreed ( I think I mentioned that in our last hangout).

Once I get the twitter Auth pr accepted, I'll finish up end points and add the new organization table for "podcasts".

[2015-09-26 02:13] GabeIsman opened #64 "Implement routes for /people, /recordings, /howtos"
These are subresources of the organization resource (I think). There is no established pattern for dealing with subresources in the API implementation so far, so this will take some thinking.

[2015-09-26 02:24] GabeIsman opened #65 "In-place editing architecture + example"
We've decided to use the in-place editing paradigm for our all of our admin tasks. This is going to be a substantial effort on the front-end and I want to do some research and architecting/thinking it through. My goal for this is issue is to come up with a repeatable structure/set of abstractions, and implement them for the models on the basic organization page.

[2015-09-26 11:35] ryansb commented on #64
I'm not sure I agree. The problem I see with subresources is that not every query for these things will have an organization associated. For example querying for the popular howtos or getting  the user with a certain Twitter handle.

I haven't implemented a full filtering API, but I think for these endpoints the way to go would be `/people?org_id=123456`.

[2015-10-01 02:38] GabeIsman commented on #64
That's fine with me. However we want to implement it, I think this is pretty high-priority.

[2015-10-01 02:41] GabeIsman commented on #58
This is fixed.

[2015-10-01 02:41] #58 closed

[2015-10-12 20:25] GabeIsman opened #68 "Friendlier API errors"
Currently when I hit `/organizations/notavaliduuid` I get an `ERR_CONTENT_LENGTH_MISMATCH` from the browser with no content. The app is getting the expected `ValueError: badly formed hexadecimal UUID string`, but that isn't being translated back. This should return 400 with a descriptive error (or at least something).

[2015-10-13 16:31] ryansb commented on #68
So in that case we should be returning either a 400 or 404, depending on your philosophy. Since a non-hex UUID _cannot_ be valid, I'd lean toward 400.
![400](https://http.cat/400)

Though it is also not found (as it does not exist) and could count as 404.
![404](https://http.cat/404)

[2015-10-19 15:47] #59 closed

[2015-10-23 17:02] #52 closed

[2015-10-23 17:02] ryansb commented on #52
This isn't needed anymore, since there's a config setting for same.

[2015-10-29 18:06] GabeIsman commented on #68
This is fixed.

[2015-10-29 18:06] #68 closed

[2015-11-02 20:58] rememberlenny opened #76 "Vagrant box?"
Is anyone running this repo out of a vagrant box they could share?

If not, I'd love to get one up and running to make it easier for new developers.

[2015-11-03 00:56] ryansb commented on #76
I can't speak for everyone, but I use a virtual environment (as explained [here](https://github.com/mediapublic/mediapublic/tree/master/server#requirements)) with the SQLite database. The more environments we can help people get going with, the better, even though I wouldn't use it myself.

A pull request would definitely be welcome.

[2015-11-08 01:25] thequbit commented on #50
Clearly my last comment was a lie.

@ryansb do you have a good resource to start with for this, so I don't end up too far down the wrong path?

[2015-11-09 13:54] ryansb commented on #50
Here's the [postgres docs](http://www.postgresql.org/docs/9.4/static/datatype-json.html) for JSON, and here's a [gist](https://gist.github.com/ryansb/3ad9b7ccf225d46a16dc) I made using it with SQLAlchemy. The main difference between the IPython notebook is that you'll be using the ORM. I'd recommend using a mixin to add the field to the models.

[2015-11-09 18:14] ryansb commented on #50
There's also [this article](https://www.compose.io/articles/using-json-extensions-in-postgresql-from-python-2/) which includes using the ORM.

[2015-11-14 02:57] thequbit opened #78 "Deliverable for Janurary 22nd Site Map"
I know we've had a lot of discussion about this via email, and [here](https://github.com/mediapublic/mediapublic/wiki/Proposed-SIte-Layout).

- Home Page
    - Open for discussion on what should exist here
- Organization List
    - All the stations listed by state
    - Similar to how wikipedia has them [listed](https://en.wikipedia.org/wiki/List_of_NPR_stations)
    - Something *like* how craigsl

[2015-11-14 02:59] thequbit opened #79 "Decide what information will be on the homepage."
We need to decide what information will be on the homepage of mediapublic.io.  I think some graphics and a brief description makes sense, but it probably doesn't need to be too busy.  Alternatively, we can make the proposed `/organizations` page the homepage ( see #78 ).

Thoughts?

[2015-11-14 03:02] thequbit opened #80 "Design the Organization List page."
Per #78, the `/organizations` page will need to have a list of all organizations, grouped by state.  What other information should be on this site?  My thoughts:

- Search bar
    - Dynamic search results similar to the one that is implemented [here](https://fortawesome.github.io/Font-Awesome/icons/)
- City the organization ( station ) is in

I don't think we need anything more than that, and if m

[2015-11-14 03:07] thequbit opened #81 "Design the Organization page."
This will be one of the hearts of the site ( and really, it's possible that it will be the most highly trafficked ).  This is the landing page for an organization ( station ).  Per #78, the page will have:

- Station info
    - Address, phone, fax, website, etc.
- List of People
- List of Podcasts
    - List of Recordings for that Podcast

I think it's wise to discuss how the layout of this page w

[2015-11-14 03:08] thequbit opened #82 "Decide what information will be on the People page."
I proposed that this be a page in #78, however I'm concerned that this might not be needed since the list of people will be on each organization page.  Additionally, it might be really hard to organize that much info/data ( there are thousands of people in public media ... I think.  @melodykramer ? confirm? ).

I think this is low priority for the MVP.  Marking wontfix for the time being.

[2015-11-14 03:14] thequbit opened #83 "Decide what information will be on the Howtos page."
Hoping we can re-use some code from the `/organizations' page talked about in #80.  Per #78, this page will include:

- A list of all the howto's, probably something like 10 at a time ( paged )
- Search
    - Search results may need a different page?
- Each item listed has:
    - Title
    - Description
        - Votes?
            - Maybe 1 - 5 star system?
        - Number of comments?

For sear

[2015-11-14 03:16] thequbit opened #84 "Decide what information will be on the Howto page."
This is the page that displays the actual Howto.  A Howto is like a long blog article to start.  This should have things such as title, tags, views, votes, comments, content, and about the author.  The goal of the how-to pages is for MediaPublic to help find people who are doing great things in Public Media and give them a platform to reach the entirety of all public media stations.

[2015-11-14 03:18] thequbit opened #85 "Decide what information will be on the Blogs page."
This should be a pretty standard issue blog listing that is ordered by publish date.  Perhaps a listing of years/months and blog titles that is commonly found.  I think search could be nice here, but I don't think it should be a high priority.  If we build the search stuff in a re-usable way, then we can just copy pasta from `/organizations` and `/howtos`.  Reference #78 for the full site-map.

[2015-11-14 03:19] thequbit opened #86 "Design single blog entry page."
A single blog entry.  This could be identical to #84, with a different header.  Blogs are written by MediaPublic folks, and is a way for the team to reach out to the community.  Reference #78 for the full site-map.

[2015-11-14 03:22] thequbit opened #87 "Decide how the bookmarklet will act, and what it's features/functions will be."
I've been envisioning a bookmarklet that would allow for "Add this Podcast" or "Add this recording to a Podcast".  And that would be it.  You would need to select a station from the drop down ( populated from the server ), and then assign the podcast to it, or if you were doing a recording, select the existing podcast from a drop down.

The recording would then end up in the station page.  We shou

[2015-11-14 03:48] ismcodes commented on #87
From Gitter:

I understood that as an "add this recording to the main site" bookmarklet, and then there would be a separate playlist editing page on the mediapublic site. I didn't think about adding a podcast and adding a recording to a podcast, though. Good idea. For selecting the station, I'd think that it could just be identified from the URL as there is a `primary_website` attribute for `Organ

[2015-11-15 17:57] ryansb commented on #50
@thequbit do you mind if I take this ticket?

[2015-11-15 17:58] thequbit commented on #50
Go for it @ryanasb -  my bad for letting it slip to many times. Let me know how I can support ya.

[2015-11-15 21:48] ryansb commented on #50
@thequbit review #50 please :)

[2015-11-15 22:12] thequbit opened #89 "Need to create org and then create user in tox test for Users."
To really test the user end point, we should be adding the user with a valid organization_id.  I do not know how to create an organization first, and then reference it's ID to create a user.  @ryansb could you shed some light on that?

[2015-11-15 22:24] ryansb commented on #89
Likely the best strategy would be to seed the database using fixed UUIDs.

[2015-11-15 22:32] thequbit commented on #89
Gotcha.  Perhaps a flag in the ini file ( development ) and then do that in `scripts/initializedb.py` if it's set?  I think that method makes sense to me.

[2015-11-15 22:34] thequbit commented on #65
@GabeIsman has the beginning of his proposed framework for this [here](https://github.com/mediapublic/mediapublic/commit/2ab877c80acf8dcff05c1a8bfc7dfc1525e160b9).

[2015-11-15 22:40] ryansb commented on #89
No, it'd be as part of the gabbi setup in `server/mediapublic/tests/api.py` since it's _only_ for API tests.

[2015-11-16 13:31] melodykramer commented on #79
I think minimal is best as long as people can search and/or navigate and find everything else. I really like the way [open foia](https://open.foia.gov/) handles this. Everything is through the search bar.

[2015-11-16 13:31] melodykramer commented on #80
Agreed. City is key, though - so people can sign up for cities when they might not realize call letters.

[2015-11-16 15:47] thequbit commented on #80
@melodykramer definitely.  I think grouping my State, and then having the City they are in is a good starting point.

[2015-11-16 15:52] thequbit commented on #79
I like that a lot.  Could be the Media Public banner, then "Station List" and "Howtos" on the top.

Then below we can have a "What is MediaPublic"  "What are Howtos" "Read our Blog" kind of blurbs.  I think this is a solid starting point.

With regard to search: we'll have to do some thinking about how search will work.  There is going to be quite a bit of information loaded into the site, and we'

[2015-11-16 21:29] GabeIsman commented on #85
+1 for reusable search. Maybe some kind of full-text index like [solr](http://lucene.apache.org/solr/) or [elasticsearch](https://www.elastic.co/products).

[2015-11-16 21:30] GabeIsman commented on #80
Are you imagining a list by state, or some kind of map?

[2015-11-16 21:32] GabeIsman commented on #78
:+1: This looks good to me. Don't think we need a separate page for the how to search results. The index should be flexible enough to display search results.

[2015-11-16 23:26] GabeIsman opened #90 "Need a story for database migrations"
I just ran into an issue where I wanted to make some fields Nullable. I updated the models to have the appropriate columns, but couldn't figure out how to migrate the DB schema. Looking into it a little bit it seems like (alembic)[https://bitbucket.org/zzzeek/alembic] is probably the preferred tool for this. I tried to get it set up but stumbled a bit configuring it on some issues that I think wou

[2015-11-16 23:31] thequbit commented on #90
@gabeisman to be honest, I always just blow away the local sqlite db when I change the schema.  I then update the tests / test data generation to reflect the schema change.   I'm sure @ryansb has some thoughts on this but my take is if it isn't production, just blow it away.

[2015-11-16 23:59] GabeIsman commented on #90
@thequbit That's totally fine (if less than ideal, sometimes test data takes a long time to set up), but we still need a story for production.

[2015-11-17 00:03] thequbit commented on #90
Definitely will need a story for production.  I'm not super familiar with the flow for bridge schema's for PostgreSQL, but it's certainly a well documented thing.  For the time being, I think the `extras` field that will take json will keep us moving forward in development ( see #88 ).

As for setting up test data, I'll create a ticket for that so we can just run a script and have it load it in.

[2015-11-17 00:04] thequbit opened #91 "Create test data generation script"
Need some kind of script that will generate 'bogus' data in the sqlite database so we can use it for testing/development as we march forward here.

[2015-11-17 00:26] GabeIsman commented on #91
:+1:

[2015-11-17 00:52] GabeIsman opened #93 "Generated files should not be tracked"
Thinking specifically of `build.js`.

[2015-11-17 01:24] thequbit commented on #87
First, yea grabbing the station ID from the website works for me - I don't think will trip us up too bad ( we might need to make a `websites` table at some point if there are a lot of sub domains, but I think we can get around that with some solid regex and such for the MVP ).

Yea, I think the unique user token makes sense to me.

Yea, so the 'crowd source' method you're describing sounds awesome

[2015-11-17 13:16] ryansb commented on #90
There's an app for that (tm)!

In OpenStack we use [alembic](https://alembic.readthedocs.org/en/latest/tutorial.html) to generate migrations between sqla schema versions.

It pretty well resolves the migration story, but I don't feel like that's something we need to do "right now" as we don't _have_ a production environment. I'd rather put the work into a loader for test data for now, and then bui

[2015-11-18 02:54] GabeIsman opened #97 "Figure out client authentication workflow"
There should be a way to log in through the client, and the client should be sending cookies (or Javascript Web Tokens, or something similar) to the server. This is not currently working.

[2015-11-18 02:58] GabeIsman commented on #97
Note that it doesn't seem as though authentication is working for me at all right now, I get the following error when I click the 'login with Twitter' link on /login.

[code]

[2015-11-18 03:20] GabeIsman commented on #65
This is done! I'm sure there will be more to iron out as we go, but this is no longer a primary focus.

[2015-11-18 03:20] #65 closed

[2015-11-18 03:22] GabeIsman commented on #64
@thequbit finished this with https://github.com/mediapublic/mediapublic/pull/77.

[2015-11-18 03:22] #64 closed

[2015-11-18 03:24] GabeIsman commented on #61
Closed by https://github.com/mediapublic/mediapublic/pull/95

[2015-11-18 03:24] #61 closed

[2015-11-18 05:00] thequbit commented on #97
So this error pops up when you don't have valid twitter keys in your .ini file ( `provider.twitter.consumer_key` and `provider.twitter.consumer_secret` ).  You can get these at apps.twitter.com.

Not sure if there is a really elegant way to report this better, but I suppose we could throw an exception in the **init**.py file.

[2015-11-18 05:00] thequbit commented on #65
:+1: yay!

[2015-11-18 17:43] GabeIsman commented on #97
Seems like the best place to report that would be would be when a login is actually attempted, or when the above error is thrown. We shouldn't require every developer to go through that flow if they don't need to work on login/logged-in functionality.

[2015-11-18 18:31] GabeIsman commented on #39
Closing this as obsolete. The rest integrations will be accomplished as the relevant models are built out.

[2015-11-18 18:31] #39 closed

[2015-11-18 18:31] GabeIsman commented on #38
@thequbit this is done now right?

[2015-11-18 18:32] GabeIsman commented on #50
This was completed by @ryansb in #88!

[2015-11-18 18:32] #50 closed

[2015-11-18 19:17] GabeIsman commented on #37
Closed by @thequbit in #77.

[2015-11-18 19:17] #37 closed

[2015-11-18 19:21] GabeIsman commented on #17
While the discussion in this issue is great, I think it has been superseded by the more current https://github.com/mediapublic/mediapublic/issues/78.

[2015-11-18 19:21] #17 closed

[2015-11-18 19:23] GabeIsman commented on #34
@katemyers I can't believe I missed your comment the first time around! So sorry for the delay!

Access to that API seems like it would VERY helpful to us.  What would we need to do to get access?

[2015-11-18 19:25] GabeIsman commented on #16
I think we have pretty clearly settled into 2. (or maybe 3, we have yet to have many outside contributor PRs). Closing.

[2015-11-18 19:25] #16 closed

[2015-11-18 19:26] GabeIsman commented on #24
Closing this: current discussion along these lines is in https://github.com/mediapublic/mediapublic/issues/78.

[2015-11-18 19:26] #24 closed

[2015-11-18 19:32] GabeIsman commented on #10
I think our newsletter has largely eliminated the need for this at this point. http://mediapublic.github.io/ is perhaps a little sparse, but I think we should be focusing our efforts on getting the main site up and running.

[2015-11-18 19:32] #10 closed

[2015-11-18 19:33] ryansb commented on #38
Yeah, he added those tests.

[2015-11-18 19:33] #38 closed

[2015-11-18 19:34] GabeIsman commented on #8
Pyramid ACLs have been implemented by @ryansb.

[2015-11-18 19:34] #8 closed

[2015-11-18 19:37] GabeIsman commented on #7
It think this question has been largely resolved.

[2015-11-18 19:37] #7 closed

[2015-11-18 19:40] GabeIsman commented on #26
Closing this feedback issue. Thanks for the great thoughts everyone! I think we've pretty well incorporated these ideas into the current understanding of the goal.

[2015-11-18 19:40] #26 closed

[2015-11-18 19:42] GabeIsman commented on #1
We have decided that repurposing Midas is not a priority right now.

[2015-11-18 19:42] #1 closed

[2015-11-18 19:43] GabeIsman commented on #3
We have adopted this approach wholeheartedly!

[2015-11-18 19:43] #3 closed

[2015-11-18 19:44] GabeIsman commented on #2
This has been pretty well determined now.

[2015-11-18 19:44] #2 closed

[2015-11-18 19:45] GabeIsman commented on #6
These are pretty much all implemented now.

[2015-11-18 19:45] #6 closed

[2015-11-18 19:46] GabeIsman commented on #5
I think we've got a good handle on this now.

[2015-11-18 19:46] #5 closed

[2015-11-18 19:47] GabeIsman commented on #4
This question still seems wide open to me, although I will say that it seems unlikely that we'll be able to go nuts on this problem in the MVP. Probably not a high priority right now.

[2015-11-18 19:53] GabeIsman commented on #55
The API is now mostly in place for this work (minus the podcasts). I've begun implementing the rest of this. Although it should be noted that this is no longer read-only! Working on the admin functionality side-by-side with the display stuff.

[2015-11-18 20:01] GabeIsman opened #98 "Organizations should have social media profiles"
The DB schema needs to be updated to accommodate and the UI needs to be update to allow viewing/editing.

[2015-11-19 00:18] thequbit commented on #17
:+1:

[2015-11-19 00:20] thequbit commented on #10
I agree.  I think the landing page is just fine for the time being.  Maybe some screen shots as we get closer to a deliverable.

[2015-11-19 00:21] thequbit commented on #1
I agree.  I think Midas is an awesome platform, but adapting it or recreating it is just outside of our scope.  We'll want to make sure that we present this as a goal for our continued work when we present in January.

[2015-11-19 00:23] thequbit commented on #4
I really like rewarding people for doing good/cool/productive/etc. stuff, and I think badges/trophies is a solid ( and kind of proven ) way to do that for an on-line community.

We should keep this on the table for stretch and "next round" goals I think.

[2015-11-19 00:24] thequbit commented on #98
I say we put these in the `extras` field for right now.  Good test-run for this method of "just keep pushing forward".  Thoughts?

[2015-11-19 00:50] thequbit opened #99 "Add Podcasts"
We don't have a database model/table, nor end points for Podcasts.  The tree should look like:

- Organization
    - People
        - Person
    - Podcast
        - Recording

We just have `Recording` under `Organization` right now.

[2015-11-19 15:52] GabeIsman commented on #99
Should we also support recordings directly under organizations too? Do some clips not belong to a podcast/show but rather directly to the organization?

Also this is a dupe of #63, which can probably be closed since it contains less detail.

[2015-11-19 15:56] GabeIsman commented on #98
SGTM. Is that extras field going to work transparently on the backend? That is to say, should the posted data look like

[code]

or like

[code]

The former would be easier to implement on the front end.

[2015-11-20 03:31] nkkl commented on #81
First pass at sketching this out under [Design>Organization page](https://onedrive.live.com/redir?page=view&resid=4D8563D93722E38!4431&authkey=!AP0r6ahKern5aYU). Please have opinions!

@melodykramer particularly want your thoughts on the information architecture and user goals. I'm not at all confident about the priority of the different chunks of info - what will be most important to a visitor fr

[2015-11-21 14:26] melodykramer commented on #79
Yes, I think that works really well as an MVP - and I'm happy to do user testing (and send this out to the newsletter)

I like the idea of a drop down.

[2015-11-21 14:32] melodykramer commented on #80
Could it suggest a station based on geolocation (not for MVP.)

[2015-11-21 14:34] melodykramer commented on #81
@nkkl I think that looks fabulous, actually. Could we share it with the newsletter? I'm also really keen on the "how to get involved" bucket, even if it's just three items stations could list that people could click on and comment to help. Would that be okay for MVP? I'm concerned if we don't have that, based on how we applied for the grant.

[2015-11-21 14:35] melodykramer commented on #82
Confirmed. I say low priority as well.

[2015-11-21 14:39] thequbit commented on #80
@gabeisman I was picturing almost exact what Craigslist has, with points on the lat/lng of the stations on the map.

@melodykramer yup, I think we can do closest neighbor(s) geo lookup. Postgres has a whole suite of great geo functions available.

[2015-11-21 14:55] melodykramer commented on #83
I'm hesitant to use Disqus because it's not open / Facebook for similar reasons....

[2015-11-21 14:56] thequbit opened #100 "Add Help Requests functionality"
@melodykramer writes:

So we could add a new table in the database that is "HelpRequests".  Those could then be listed on the `organization` page like `Podcasts` and `People`.  This could include:

- Organization
  - This would be linked to the organization in the `organizations` table
- Title
- Description
- Primary contact
  - This would be linked to a user in the user table, giving us name and

[2015-11-21 15:03] melodykramer commented on #85
:+1:

[2015-11-21 15:07] thequbit opened #101 "Add HelpRequests table and REST endpoints"
This is the coding ticket for #100.  Code needs to be added to models.py and views.py files.

Proposed table model:

    class HelpRequests(Base, CreationMixin, TimeStampMixin, ExtraFieldMixin):

        __tablename__ = 'help_requests'

        organization_id = Column(ForeignKey('organizations.id'))
        primary_contact_id = ForeignKey('uses.id')
        title = Column(UnicodeText, nullable=Fa

[2015-11-21 15:15] thequbit commented on #83
We can roll our own for quick and dirty, but I would be really hesitant to "go live" with our own solution unless we had some serious thought put into protections.

[2015-11-21 15:18] thequbit commented on #85
We can actually do full-text search with Postgres!

http://www.postgresql.org/docs/8.3/static/textsearch.html

I think I've come to grips with using Postgres is pretty much cheating, ha.  I think we're fine to use Postgres functionality here until we see an issue with performance.  ElasticSearch is amazing, and I've used it on a number of projects.  I think that the full-text search on Postgres wi

[2015-11-21 15:26] melodykramer commented on #86
:+1: - Sounds good!

[2015-11-21 15:26] melodykramer commented on #87
This sounds great to me! Should we tell the newsletter and ask for feedback?

[2015-11-21 16:01] melodykramer commented on #100
That looks like a great MVP to me.

[2015-11-21 16:01] melodykramer opened #102 "Write README"
Update README to explain purpose, ways to help, etc.

[2015-11-21 17:32] thequbit opened #103 "Decide what information will be on the Users page."
We'll need some kind of page for users to manage settings.  We'll also need to identify what settings are on this page.

[2015-11-21 17:49] nkkl commented on #81
Makes sense to me! If you have time, we can also hop on a video chat and do some sketching this weekend.

[2015-11-21 17:50] thequbit commented on #81
Here is the screen shot of @nkkl's mock up:

![](https://raw.githubusercontent.com/mediapublic/mediapublic/develop/docs/media/orgs_page_mockup.png)

We'll need to call out to the following end-points:

`[GET] /organizations/{org_id}`

Information to be displayed for the org:
- Name ( call letters? )
- Full Name ( "WXXI Public Broadcasting Council", rather than just "WXXI" )
- Description
- Address

[2015-11-21 17:52] thequbit opened #105 "Design tiles for Podcasts/Recordings, People, and Help Requests"
#81 describes what information will be on the `Organization` page.  This page will have lists of Podcasts/Recordings, People, and Help Requests.  These will be in small "tiles" with information about each item.  These tiles need to be designed, so they can be reused on this page and other pages.

[2015-11-21 18:37] nkkl commented on #79
Melody, can we in particular start testing copy with our readers? That's going to be at least as big as tuning the layout, and should be faster to do at the right fidelity level.

[2015-11-21 23:29] nkkl commented on #81
Took a second pass the information hierarchy. Let me know what you think! Once we settle on the basics, I'd love to go through with actual data for a station and make a grey-box mockup in HTML. From there we can just integrate it into the codebase!

![image](https://cloud.githubusercontent.com/assets/766654/11321024/63771f02-9064-11e5-878b-9f9320572bfb.png)

[2015-11-21 23:39] nkkl commented on #79
First crack at a design. Have feelings! :)

![image](https://cloud.githubusercontent.com/assets/766654/11321080/1042dbe4-9066-11e5-89b1-1ae09057822c.png)

[2015-11-21 23:45] nkkl commented on #83
This is the browse/search results for How-Tos, yes? (In this case, Browse would be a "you didn't enter specific search terms, so we chose a filter for you" view, which we can treat as an edge case of Search in our design)

[2015-11-21 23:50] thequbit commented on #81
Great point with having the links to the how-to's right on the organization page.  This is awesomeness!

[2015-11-21 23:54] thequbit commented on #79
Does this seem reasonable for drop-downs on the search?
- Howtos
  - `/howtos?q=<search_term>`
- Stations
  - `/stations?q=<search_term>`
- Podcasts
  - `/podcasts?q=<search_term>`
- Recordings
  - `/recordings?q=<search_term>`
- People
  - `/people?q=<search_term>`
- Blogs
  - `/blogs?q=<search_term>`

Note: there are many reasons why Podcasts and Recordings shouldn't be separate.  We shouldn't f

[2015-11-21 23:55] nkkl commented on #84
First pass on roughed out Howto page layout. Particularly interested in what people think of how the attribution is presented.

Dev team, how hard are we going on formatting and authoring capabilities for the folks writing these? If I can get a list of what we'll support when we get into the next level of fidelity, that will be great!

![image](https://cloud.githubusercontent.com/assets/766654/113

[2015-11-21 23:56] thequbit commented on #83
I took this to be the page that you describe here: https://github.com/mediapublic/mediapublic/issues/79#issuecomment-158691021as "browse" in the bottom right.  It's the "there are a crap load of howtos, here is how we are going to attempt to organize them for you" page.

[2015-11-21 23:57] nkkl commented on #79
How hard is it to present the union of podcasts and recordings? I'm not really familiar with the search functionality we're using.

[2015-11-21 23:58] thequbit commented on #83
Oh, but as @melodykramer points out, we DEFINITELY want to have a comments/feedback section for each howto.  I think that discussion should be moved to #84, since this page is just the "browse and search results" page, not the actual howto content.

[2015-11-21 23:58] nkkl commented on #83
Yeah, I think it would be reasonable to throw some metadata on them at some point, but let's not worry about exposing that in our MVP. We're here to learn, right?

[2015-11-21 23:59] thequbit commented on #84
So comments.  Were just talked about this in #83.  Facebook and/or Disqus sound great ( for lots, and lots of reasons ), however @melodykramer brings up a great point of not being open.

I'm okay with rolling out own for the MVP, but there are some serious challenges there.

[2015-11-22 00:07] thequbit commented on #84
This also adds a field in the database of "Author Bio" kind of thing to the `Users` table ( to be placed at the end of the how-to ).  It would be optional, as not all users would be writing howtos.

[2015-11-22 00:09] thequbit commented on #79
Not too hard, it would more be "how do you display it".  How would you apply the weights and such if it was just two raw sets.  I don't know enough about Postgres full-text search to know how a union would work with weights.  I'll look into it.

[2015-11-22 00:11] thequbit opened #106 "Look into how Postgres does weights for union'd searches"
We'd think we would like to be able to do searches for Podcasts and Recordings with a single REST end point.  We would get a result set that would be both Podcasts and Recordings, each with some kind of weight.  Some research needs to be done to see the best way to do this.

[2015-11-22 00:12] nkkl commented on #84
It could be a bio, but for v1 we can also just dump in their contact information.

[2015-11-22 00:13] nkkl commented on #106
I'd mark this a p2.

[2015-11-22 00:14] nkkl commented on #105
+1 project management for @thequbit :)

[2015-11-22 00:14] thequbit commented on #106
I added "nice to have" ( doubtful we'll get to it before January ).

[2015-11-22 00:16] nkkl commented on #87
@melodykramer Are you ok owning this item? I'm happy to provide backup, but it's not at the same "altitude level" as my other tasks and I'm trying to minimize switching costs.

[2015-11-22 00:17] nkkl commented on #97
Taking the "design" tag off of this because it doesn't appear to be a UX design task.

[2015-11-22 00:19] nkkl commented on #45
What action items are needed for this?

[2015-11-22 00:19] thequbit commented on #87
If I had my preference, I would like @ismcodes to own this since he has already put quite a bit of work into it.  I'll provide backup for technical questions/support.  I think you can stay hands off for the time being @nkkl if you would prefer.

[2015-11-22 00:20] nkkl commented on #79
Fair enough. I'll do some thinking under the assumption that we can get the two sets of data if we want, but cannot integrate them in a sensical way. So the question then would become "can we display the results for both in parallel in a way that makes sense to users?"

[2015-11-22 00:22] nkkl commented on #87
Sounds good to me! Keep me on board as a sounding board for any UX questions that come up.

[2015-11-22 00:22] thequbit commented on #45
I would say that #79, #80, #81, #82, #83, #84, #85, #86, and #103 are the action items for this issue.  At the same time, I think this probably should have been a wiki entry rather than an issue ( although we really don't have a solid flow for documenting "we did some talking off-line and made these decisions" kind of stuff.

There are wiki entries for meeting notes already.  I think this should p

[2015-11-22 00:27] thequbit commented on #45
Made a wiki page.  Closing this issue.

Ref: https://github.com/mediapublic/mediapublic/wiki/Melody-and-Nikki-convo-on-site-architecture.

[2015-11-22 00:27] #45 closed

[2015-11-22 00:28] thequbit commented on #79
Could be two different sections I suppose.  That it's really the results for both.  I don't know if there is a good way to do that on mobile though without people never seeing the second set.

[2015-11-22 00:31] nkkl commented on #80
Emphasis on displaying stations found as [city - CALLSIGN] for easy identification.

![image](https://cloud.githubusercontent.com/assets/766654/11321296/328bf562-906d-11e5-99c1-1a1f08523654.png)

[2015-11-22 00:34] thequbit commented on #87
@ismcodes are you okay with this site of functions/features:
- Get `Organization` based on current URL
  - If URL is not registered, display error? ( I think we should do this for the MVP - we can come up with a sexy solution for this later on )
- Add a `Podcast` to an `Organization`
  - This would be a POST to `/organizations` with the correct JSON content
  - This would be done on the "landing p

[2015-11-22 00:34] nkkl commented on #83
Let's keep this one simple.

![image](https://cloud.githubusercontent.com/assets/766654/11321309/c4ea6916-906d-11e5-8203-ebc273b7e19f.png)

[2015-11-22 00:35] nkkl commented on #85
Is there a reason for Blogs and How-tos to have different UI?

Are we writing the blog entries? How are blogs and how-tos differentiated?

[2015-11-22 00:36] nkkl commented on #103
Let's start with just managing their personal information - email, password, profile image, social media links, etc.

[2015-11-22 00:38] thequbit commented on #80
**Search**
- Do we need filters here?
- I assumed that people would be searching for call signs: "WXXI" or a city: "Rochester".  Where if they searched for Rochester, I would expect WXXI ( Rochester, NY ) and KZSE ( Rochester Minnesota ) to both show up ( and probably others, because there are like 16 Rochesters in the US ).
- I think it would be better if we just had search, with no filter.  If y

[2015-11-22 00:39] thequbit commented on #83
:+1:

[2015-11-22 00:40] thequbit commented on #85
I was thinking that yes, they would be almost identical in their UI.  The `Howtos` are for people within Public Media to provide information, feedback, and experience to their peers ( other users ).  The `Blogs` are for MediaPublic people to present information to the user base.

[2015-11-22 00:41] nkkl commented on #85
Perfect. We can basically dupe the UI and change the copy for v1.

[2015-11-22 00:42] nkkl commented on #80
I'm cool with no filters. That seems pretty sensible.

How exactly they're displayed will pivot depending on what information we want to should about them, but generally, yes, a straight up one-column list is not going to be a good experience. :)

[2015-11-22 00:42] thequbit commented on #103
So I think we've locked onto Twitter as our login method for the moment.  So no need for password.  We can just take their profile image from Twitter for the MVP.
- Email
- Facebook
- Twitter ( we have this already form their login )
- Instagram
- Periscope
- Personal Website

We also need a mechanism for linking a `User` to an `Organization`.  We haven't really talked about that yet.  I'll open a

[2015-11-22 00:44] thequbit commented on #85
:+1:

[2015-11-22 00:45] thequbit opened #107 "What is the mechanism for linking Users to Organizations"
So we have `Users` that are linked to a Twitter account.  Those `Users` can then use the site.  A `User` can optionally be associated with a `Person`, and thus a `Organization`.

We need a way to link these somehow.  Maybe when the user logs in the first time, they can be presented with "are you an employee of a station?  If so, select below!" and then that goes into a queue that needs to be appro

[2015-11-22 00:46] nkkl commented on #103
This sounds like a great set of information to manage. Given the number of social media platforms we're supporting, we should allow users to pick, say, 2 primary points of contact so that we can have a verbose view and a truncated view. 6 ways to contact someone is overbearing, and they will likely have opinions about which plaftorms they'd prefer to be contacted on.

For example, I would emphasiz

[2015-11-22 00:49] thequbit commented on #103
I'll think about the best way to create those in the database.  I'm thinking a separate table for "ContactMethods" or something like that might make sense, and each row as a "preferred" flag.

[2015-11-22 00:50] nkkl commented on #103
Makes sense. Then we can also be a little more flexible about what they can add, right?

[2015-11-22 00:54] thequbit commented on #103
Exactly.  We'll "own" the list, but it will be nice and easy to add new "contact points".

[2015-11-22 02:00] GabeIsman commented on #107
:+1: I ran into this issue working on adding people to organizations.

[2015-11-22 02:06] GabeIsman commented on #63
Dupe of #99.

[2015-11-22 02:06] #63 closed

[2015-11-22 02:06] GabeIsman commented on #98
ping @thequbit or @ryansb.

[2015-11-22 02:13] thequbit opened #108 "Migrate away from People and just use User table"
I don't think we need a `People` table, just a `User` table.  And if a User has a valid `organization_id`, then it is a `Person`in that org.

[2015-11-22 02:21] thequbit opened #109 "Add a _template folder in client app"
We should have some kind of base template for adding new pages to the client app.  It would be great if we could just have a folder that someone could copy.

[2015-11-22 02:32] ryansb commented on #98
It's like the latter - you have to put whatever the "arbitrary" stuff is in its own object. The reasoning was that if we stored _all_ the extra keys, that'd make it really easy to accidentally typo keys in API requests.

[2015-11-22 02:36] GabeIsman commented on #98
Got it. Thanks @ryansb.

[2015-11-22 02:44] ismcodes commented on #14
Updated bookmarklet goals: Used to add a recording to the main site from an outside source, and also can add to a podcast from an outside source. To add to a playlist, a user will be able to either search for it on the playlist editing page or click something on an individual recording page or `/listen`.

[2015-11-22 03:07] thequbit commented on #14
See #87 for more conversation about the bookmarklet.

This issues ( #14 ) brings up a good point, that I had no included the playlist features in the MVP definition in our various email correspondence, or #78.  We may need to think about how we're going to cut this down to be implementable for the MVP.

[2015-11-22 03:14] thequbit commented on #78
After @ismcodes brought it up in #14, I realized I missed the entire "make a play list of recordings" feature set.

Do we still want to go after that for the MVP?  It sure would be slick, but I'm concerned that we could be coming close to not being able to deliver by January.

The proposed additional page(s) would be:
- Playlists
  - Would display a list of play lists the logged in user has
  - Wo

[2015-11-22 03:30] nkkl commented on #78
How about we have a Playlists page, and when you're logged in you see a section of that this is for your playlists? Otherwise, you only see ones others have made.

We have to figure out the playlist curation flow, though - that's going to be a bunch of screens. This is a nontrivial amount of UX design work, and I'm going to prioritize the other stuff higher, so I don't know when I can promise this

[2015-11-22 03:34] thequbit commented on #78
I think with @gabeisman's edit in place framework, creating the new empty plastic is actually pretty simple. Then we'll just allow people to add recordings from the organization page with some kind of pull down.

We're not.  There is more than enough to do first.

[2015-11-22 03:35] GabeIsman opened #111 "Figure out flow for editing sub-resources on org page (recordings, people, etc.)"
This is probably a general problem but I'm running into specifically while implementing the list of people on an organization: in-place editing doesn't work so well when the place is tiny. Some possible solutions:

- Every resource must have a dedicated single resource page (e.g. the person page, which we had thought to push off until after MVP), at least for editing
- We expand the space to just

[2015-11-22 03:36] nkkl commented on #78
Sweet. You've been doing totally reasonable things with the UX so far, so I feel comfortable letting you pave this out. Definitely let me know as design questions come up and I'll help as I'm able.

[2015-11-22 03:37] GabeIsman opened #112 "Query API for filtered collections"
Currently there is no way (AFAICT) to query for, say, the people belong to a specific organization: something like `/people?organization_id=uuid`.

[2015-11-22 03:38] thequbit commented on #111
First, I think modal is good (especially makes things easier for formatting on mobile).

Second, why do we need to edit anything in a list or tile? I would expect that to all be read only stuff.  It's all bring pulled from other places (howtos, people (users), podcasts/recordings (comes from bookmarklet). Or am I missing something?

[2015-11-22 03:40] nkkl commented on #111
Yeah, I think the lists/tiles are all being pulled from elsewhere. If we need to, we can have an edit entry point on those that would take you to the specific resource's edit page - or call up a modal. Editing them in-place isn't necessary; that's going to be most valuable for changing details about an organization on its page (ex. tweaking the description).

[2015-11-23 01:09] GabeIsman commented on #78
I'm concerned about adding playlists to the MVP. I think it adds a lot of stuff that's going to be kind of tricky to get right.

Are we going to have an audio player? That seems certainly outside of scope for MVP, and to me a lot of the value of a playlist, as a playlist consumer, is just hitting play and hearing a series of things. That will not be possible.

I don't know. To be honest I'm sort o

[2015-11-23 02:56] thequbit opened #114 "Decide what information will be on the Help Request page."
This is the single page for viewing the information about the help request.  There should be:

- Title
- Description
- Expire Datetime
- Tags ( what skills - arbitrary comma separated list )
- Organization
- Author Info

Then a big button of "I want to help!" and that is just a `mailto:` link to the contact point.

[2015-11-23 03:04] thequbit commented on #78
@GabeIsman I agree.

I think we should take the Blog off the table for the MVP.  Drive hard to get the following done:
- Home Page ( #79 )
- Organizations Page ( #80 ) ( _view only + button/link for new_ )
  - Search bar
  - Stations by state and city ( as their call sign )
- Organization Page ( #81 ) ( _view, edit, new_ )
  - Station info
  - List of People ( which is actually Users )
  - List of

[2015-11-23 13:07] #109 closed

[2015-11-23 14:19] thequbit commented on #85
Per #78 discussion [here](https://github.com/mediapublic/mediapublic/issues/78#issuecomment-158839473), I've moved this to "nice to have".

[2015-11-23 14:19] thequbit commented on #86
Per #78 discussion [here](https://github.com/mediapublic/mediapublic/issues/78#issuecomment-158839473), I've moved this to "nice to have".

[2015-11-23 14:20] thequbit commented on #82
Per #78 discussion [here](https://github.com/mediapublic/mediapublic/issues/78#issuecomment-158839473), I've moved this to "nice to have".

[2015-11-23 14:21] thequbit opened #115 "Stub out Organizations page."
This is the big list of organizations with search.  Design and features discussed in #80.

[2015-11-23 14:22] thequbit opened #116 "Stub out Howtos page."
This is the big list of organizations with search. Design and features discussed in #83.

[2015-11-23 14:22] thequbit opened #117 "Stub out Howto page."
This is the big list of organizations with search. Design and features discussed in #84.

[2015-11-23 14:23] thequbit opened #118 "Stub out Help Request Page"
This is the single help request page. Design and features discussed in #114.

[2015-11-23 14:24] thequbit opened #119 "Stub out User settings page."
Profile, settings, and such. Design and features discussed in #103.

[2015-11-23 14:24] thequbit commented on #115
The template for new pages can be found here: https://github.com/mediapublic/mediapublic/tree/develop/client/app/_template

[2015-11-23 14:24] thequbit commented on #116
The template for new pages can be found here: https://github.com/mediapublic/mediapublic/tree/develop/client/app/_template

[2015-11-23 14:25] thequbit commented on #117
The template for new pages can be found here: https://github.com/mediapublic/mediapublic/tree/develop/client/app/_template

[2015-11-23 14:25] thequbit commented on #118
The template for new pages can be found here: https://github.com/mediapublic/mediapublic/tree/develop/client/app/_template

[2015-11-23 14:25] thequbit commented on #119
The template for new pages can be found here: https://github.com/mediapublic/mediapublic/tree/develop/client/app/_template

[2015-11-23 15:29] GabeIsman commented on #115
This one has been stubbed in https://github.com/mediapublic/mediapublic/pull/113.

[2015-11-23 15:35] GabeIsman commented on #111
So, I was thinking it would be convenient to edit directly in a list when you are doing a task like adding a series of people to an organization, or adding a bunch of recordings. The flow of
`/recordings/new -> search for org to add it to -> save -> repeat` is not as nice as `search for org page -> hit plus button under recordings as many times as you want -> save them`. If we can come up with a c

[2015-11-23 15:36] GabeIsman commented on #119
Are users and people the same thing? Are people just users with an organization? The semantics seem kind of weird here, maybe we should settle on one name.

[2015-11-23 15:40] nkkl commented on #119
Well, it's a little weird because people and users could be a venn diagram. For example, if someone works at a station we probably want to have their info even if they aren't registered with our site. And conversely, just because someone has an account with us doesn't mean they're formally affiliated with a station.

[2015-11-23 15:43] GabeIsman commented on #111
Sorry, just realized what you were saying about everything coming externally (haven't had my coffee yet this morning). I guess I hadn't even considered that we wouldn't give people a way to edit recordings or people. It seems important to make it possible to edit recordings so that any errors made by our scraper can be fixed, or to link an org that wasn't auto-linked, or to add a title, etc. But t

[2015-11-23 16:07] thequbit commented on #119
I think we should have a field in the `Users` table that is `organization_id` and let it be nullable.  If it is NULL, the user is not apart of an `Organization`.  If it is not NULL, then they are a `Organization` employee.  I think it should be displayed on the client as "People", but really we'll be querying for "Users".

[2015-11-23 16:38] GabeIsman commented on #119
So this page will actually be a "People" page, right?

[2015-11-23 16:39] thequbit commented on #119
The issue name misleading, should have been User not Users. This page is the user's settings page of sorts. Does that make sense?

[2015-11-23 16:41] GabeIsman commented on #119
Got it, the issue description was also misleading, ha. Edited for clarity.

[2015-11-23 17:11] thequbit commented on #119
My bad.   Thanks for cleaning it up!

[2015-11-24 00:23] thequbit commented on #119
Yea, definitely copy-pasta'ed that from the others.  Sorry about that @GabeIsman.

[2015-11-24 18:27] thequbit commented on #91
I will make this a higher priority and get this to you ASAP.

[2015-11-25 17:38] GabeIsman opened #120 "Add images to organizations and people"
Users need profile pictures and organizations are going to have some kind of cover photo (in the current design iteration). Do we want to support image uploading? Just store image urls? One way or another we need a solution for this.

[2015-11-25 18:20] thequbit commented on #120
I vote for grabbing their twitter avatar for the MVP.

[2015-11-25 18:28] GabeIsman commented on #120
Great idea. What about org cover photos?

[2015-11-25 18:31] thequbit commented on #120
I say their call letters in a circle with a random color.

[2015-11-25 18:42] GabeIsman commented on #120
I'm not sure that will work with the org page design that Nikki has drawn up. Working on a prototype now, might make more sense when you can see it, here is the rough in progress page
<img width="1436" alt="screenshot 2015-11-25 13 41 52" src="https://cloud.githubusercontent.com/assets/697801/11406227/580bf49e-937a-11e5-93d8-40ff45e29739.png">

[2015-11-25 18:42] GabeIsman commented on #120
Nice big images always make any web page look much better + more polished.

[2015-11-25 18:43] GabeIsman commented on #120
FWIW, I just added an image_url column to orgs and doing that for now.

[2015-11-25 19:02] thequbit commented on #120
I'm with ya.  I thought you meant a small icon style next to the call letters in the orgas page.  Yup, we can just support image upload for the time being. When we move to deployment we can figure out the CDN solution.

[2015-11-30 00:11] thequbit commented on #79
From @nkkl

Suggestions:
- Keep things curated to start, and then move to automation.
  - The "Discover" area would be curated for the time being.
- Elevator pitch is "you can do this site to do A, B, and C"
  - This will get people started.

@nkkl to provide some more notes later for clarification?

[2015-11-30 00:17] thequbit commented on #81
Seconds, in order:
- Meta data ( info about the station )
- Podcasts/Recordings
  - Q: does having recordings up higher help encourage people to help.
- Requests for help
- Howtos
- People

_Per discussion on November 29th hang-out_

[2015-11-30 00:21] thequbit commented on #83
@nkkl

We'll start with just posting the last 6 howto's that were posted on the page.  In the future we'll probably move to curation.

[2015-11-30 00:23] thequbit commented on #84
Give authors credit at the beginning.  Should also include organization information.

@nkkl

We settled on: yes.

[2015-11-30 00:38] thequbit opened #121 "Figure out flow of adding users"
Need to figure out how to add users to the database, especially since users are "people" when a user has an org id associated with it.

[2015-11-30 00:43] nkkl commented on #105
Focus on typographic hero images instead of loading up pictures.

[2015-11-30 00:53] thequbit opened #122 "Decide what information will be on the Podcast page"
This page will eventually have lists of recordings, however for our MVP it will only be accessible in admin mode for an organization.  This page will have editable fields for the information about a podcast.

This can be WAY raw.

[2015-11-30 00:53] thequbit opened #123 "Need a way to add and remove people from an organization."

[2015-11-30 00:54] thequbit commented on #123
This is kind of like #107 ...

[2015-11-30 00:56] ismcodes commented on #87
Sounds good.
Bookmarklet functionality from meeting:
(for podcasts, at least)
- Check the current URL against the server to determine the organization
  - ~~If the server can't figure out the organization, it will send back a list of all the stations to choose from in a dropdown~~ just read that this is not in MVP
- Find the title of the recording/podcast from the page
  - Put this into an editabl

[2015-11-30 00:58] thequbit commented on #112
I'll take this on in the next few days.  End points referenced [here](https://github.com/mediapublic/mediapublic/issues/79#issuecomment-158691538)

[2015-11-30 01:04] thequbit commented on #87
I'll make an end point that you can query based on URL.  Something like:

[code]

If that comes back with `null` and/or `{}`, then you should fire off an ajax call to `/organizations` to get the full list ( I don't think the end point above should actually return the full list, as that is not really the functionality of it ).

Then, once you have the org ( or the full list of orgs ) you'll grab th

[2015-11-30 01:35] ismcodes commented on #87
Should `/organizations?url=<site_url>` maybe return either the `organization_id` or the full list? Having two separate ajax calls is fine, but it seems like it could be condensed into one.

[2015-11-30 01:39] thequbit commented on #87
I think it should be two, so we keep with how REST usually works.

[2015-11-30 07:47] GabeIsman commented on #87
Two requests seems fine for MVP, but we should keep an eye on it. The
bookmarklet should feel fast, otherwise people won't use it as much.

One potential problem I see with this flow: what if we don't know about the
organization whose recording it is? This is maybe not a showstopper but

We could think about changing this flow a little bit so that more of it
happened on our site. What if we had th

[2015-11-30 08:03] ismcodes commented on #87
That's interesting. Modifying the DOM for custom UI would be a problem. But
if someone is trying to rapidly archive many pages, I would think it'd be a
hassle to have to close the mediapublic page every time. Plus, if the
details were incorrect, the user would have to switch tabs. Those are just
two small concerns though. This does sound like a good idea.
The point of the auth token was to create

[2015-11-30 17:35] GabeIsman commented on #87
I guess I'm wondering what the advantage of the auth token is over the existing media public cookie. If we require that people be logged into media public when using the bookmarklet, the cookie will get sent with the request and we can authenticate the user that way.

Here's another question: can you do a POST from a bookmarklet? Probably not? (I don't know much of anything about bookmarklets, but

[2015-11-30 17:37] GabeIsman commented on #123
I think this is the same as #107, closing this one since the other contains more detail.

[2015-11-30 17:37] #123 closed

[2015-11-30 17:38] GabeIsman commented on #107
Note that this should also enable an admin to curate the users per #123.

[2015-11-30 17:43] GabeIsman commented on #121
:+1:
My two cents: this should be accomplished through the curation flow that we figure out for org admins: something along the lines of, admins get a 'new person' tile, which takes them to the `/people/new` page where the can fill out the details (org_id pre-filled, twitter handle required).

We can also populate the database if we find a dataset of radio producers and their affiliated stations,

[2015-11-30 17:47] GabeIsman commented on #103
This page should probably include a short bio as well, or we pull the twitter bio.

[2015-11-30 17:48] GabeIsman commented on #119
Note: I think this will end up being the same page that admins use to manage the people associated with their organization, so it could potentially also include an add/remove organization feature.

[2015-11-30 19:02] thequbit commented on #103
I think we can pull the twitter bio pretty easily for the MVP.

[2015-11-30 19:04] thequbit commented on #119
@GabeIsman that makes sense to me.

[2015-12-01 02:46] nkkl commented on #79
First "sketch" in HTML/CSS up: https://github.com/nkkl/mediapublic/commit/fe097e6a99fcb81074a32da11cb2f04fe06a1ced

![image](https://cloud.githubusercontent.com/assets/766654/11491011/a77fd97a-9792-11e5-8b10-9e684e69d348.png)

In general, it has fonts and colors, but it needs visual tuning. Would love feedback on it. Also @melodykramer if you can get me some placeholder copy to work with, that wou

[2015-12-03 17:12] GabeIsman commented on #115
This is stubbed. Needs to be fleshed out of course, but that's a separate issue.

[2015-12-03 17:12] #115 closed

[2015-12-03 19:38] GabeIsman opened #126 "'None' is returned in JSON response when UUID type is absent"
When a UUID type field is missing from a record (e.g. a user without an organization), the Pyramid json renderer dumps the model as
[code]
'None' doesn't mean anything in JavaScript, so this gets parsed as the string 'None' and causes problems (because the server also treats it like the string 'None', which is not a valid UUID).

This is somewhat puzzling to me because `json.dumps(None)` produces

[2015-12-03 19:51] thequbit commented on #126
We "cast" to a string, since UUIDType isn't json serialize-able.

https://github.com/mediapublic/mediapublic/blob/develop/server/mediapublic/models.py#L202

That should read:

[code]

( or something similar ).

[2015-12-03 20:34] GabeIsman commented on #126
Got it, I'll take a crack at fixing this.

On Thu, Dec 3, 2015 at 2:51 PM, Timothy Duffy notifications@github.com
wrote:

[2015-12-04 03:18] thequbit opened #129 "New Organization page does not submit because of missing `short_description` field."
This was mentioned [here](https://github.com/mediapublic/mediapublic/pull/124#issuecomment-161860809).  Looks like we're missing the `short_description` field when adding a new organization.

[2015-12-04 15:49] #126 closed

[2015-12-04 18:01] GabeIsman opened #131 "WYSIWYG editing"
We need to support WYSIWYG editing for organization descriptions and how-tos.

Leaning toward [TinyMCE](https://www.tinymce.com/) only because I've used it in the past and it was fine.

[2015-12-04 21:05] GabeIsman commented on #55
This was fixed by #124.

[2015-12-04 21:05] #55 closed

[2015-12-05 00:24] GabeIsman opened #137 "Only load tinyMCE when it is needed"
TinyMCE was added in #133. It should be loaded more judiciously.

[2015-12-05 19:34] #129 closed

[2015-12-06 00:35] GabeIsman commented on #100
I got this ticket confused with #101 earlier. We've decided on this and mostly implemented it, so I'm closing this question.

[2015-12-06 00:35] #100 closed

[2015-12-06 00:59] GabeIsman opened #141 "Add search endpoints"
We are going to need the ability to search through data via the API. As has been suggested elsewhere I think this is most straightforwardly accomplished using postgres's build in search. One possibility would be to simply implement this on all collection get routes where the parameter 'query' is defined, or some such.

One key to this will be making sure that the solution we come up with can work

[2015-12-06 01:02] GabeIsman opened #142 "Set up a staging server"
I think it's time we started thinking just the tiniest bit about devops. Don't want to leave it to the very last minute. I propose we stand up a digital ocean droplet (or equivalent) and work up a set of scripts and nginx configs to get this thing serving.

[2015-12-06 02:43] GabeIsman opened #144 "Org banner doesn't update/re-render on save"
This is caused by the way I've implemented forms that are distributed across views. I think there is an easy fix of just making sure the view re-renders on sync and/or change of the underlying model.

[2015-12-06 15:12] #118 closed

[2015-12-06 18:53] #137 closed

[2015-12-06 18:54] GabeIsman commented on #131
Closed by #133.

[2015-12-06 18:54] #131 closed

[2015-12-06 18:54] #119 closed

[2015-12-07 00:47] #101 closed

[2015-12-07 00:54] #98 closed

[2015-12-07 00:55] #144 closed

[2015-12-07 19:16] GabeIsman opened #147 "Add endpoint for retrieving login information"
This should be an endpoint that allows the client to retrieve the following information:

1) Whether or not there is a valid, unexpired session token
2) The user ID associated with that token
3) The details of the user (name, twitter handle, etc.), i.e. the user model

All of the above could be accomplished by just returning the user model if the token is valid, or null otherwise, as @thequbit sug

[2015-12-07 21:01] GabeIsman opened #148 "Implement homepage"
Based on mockup at `/mockups/index.html`.

[2015-12-07 21:03] GabeIsman commented on #117
Closed by #138.

[2015-12-07 21:03] #117 closed

[2015-12-07 21:03] GabeIsman commented on #116
Closed by #138.

[2015-12-07 21:03] #116 closed

[2015-12-07 21:14] GabeIsman commented on #91
This seems less essential for client development that it's relatively easy to create resources through the UI. If I were choosing between this and #90, the latter would make my life a lot easier :grinning:. That being said if you want to go ahead with this for the sake of server tests, that's a different story.

[2015-12-07 21:22] GabeIsman opened #149 "Implement client-side search functionality"
This will have several components:

- The UI components for search boxes, filters, search results
- Some kind of suggestion engine, powered by [typeahead.js](http://twitter.github.io/typeahead.js/) perhaps
- The paged-collection/queried collection functionality

All of this should be re-usable across our various search use cases.

[2015-12-07 21:23] GabeIsman commented on #149
Blocked by #141.

[2015-12-07 21:24] GabeIsman commented on #97
I've made a start on this, but currently blocked by #147.

[2015-12-09 01:55] GabeIsman commented on #142
I got a brief start on this just now. Going in the direction of nginx on digital ocean.

[2015-12-11 15:39] ismcodes commented on #87
I didn't mean to say that there was an advantage of the auth token- was just explaining the thought process of how it would work if it was a bookmarklet. Performing a request from the home site sounds a lot better.
You can do a POST, but there is still the problem of letting the server accept requests from an external source.
So yeah, I think opening up the media public site in a new tab/window is

[2015-12-11 21:36] GabeIsman commented on #87
@ismcodes That seems reasonable to me. The server is currently set up to always set 'Allow-Origin: *', so the external source wouldn't be a problem. That being said, we likely don't really want that long term because it does leave us open to csrf attacks, so I like your solution. On the other hand, if we do it the way you've suggested then we are requiring that the user interact with the media pub

[2015-12-14 13:37] ryansb commented on #142
What OS are we targeting, CentOS?

[2015-12-14 13:38] ryansb commented on #142
Oh, just read your script and it looks like ubuntu/debian

[2015-12-14 18:24] GabeIsman commented on #142
Yep, it's Ubuntu.

On Monday, December 14, 2015, Ryan Brown notifications@github.com wrote:

[2015-12-14 19:54] ismcodes commented on #87
Yeah, it's probably best not to work off the assumption that the server will be 'Allow-Origin: *' in the future. Hopefully this can still be smooth and fast yet helps the user check the information. I might have some ideas for that later.
You can set an interval in the original tab that checks if the child window is closed. So checking every .5 seconds should be good, I'd think.

[2015-12-14 20:04] GabeIsman commented on #87
That would work, but just because the child window is closed doesn't mean the data was saved, so we can't base a success message off of that.

I think we should either poll the server to see if the recording with the specified url exists, or just forgo the success message on the original page altogether. There will be success/confirmation on the edit and save page, so it may not be necessary.

[2015-12-14 20:58] ismcodes commented on #87
It is possible to send a message back to the parent window using [postMessage](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage). But now that you bring it up, I don't see a need to show a message on the original window.
So this would be a part of the `/playlists` section of the site. I'll work on that from the other `client/app` examples.

[2015-12-14 21:11] GabeIsman commented on #87
Maybe I'm still confused about what exactly the bookmarklet is doing. I thought it was just adding a recording to the site (at least for MVP). I was imagining that you would open a new tab to `#/recordings/new?organization_url=blah&title=foo&whatever=baz`, and then put some logic in the new recording page (which already exists) that would parse the url/fetch any necessary additional data.

Does th

[2015-12-14 22:21] ismcodes commented on #87
Oh yeah, haha. You're right. Not sure why I said playlists. That's correct, I'll build on that then.

[2015-12-17 00:10] melodykramer commented on #122
Agreed on way raw. For now, length of time and episode title?

[2015-12-17 00:11] melodykramer commented on #121
I have a basic one but it will need to be fleshed out because it's old. What format works best? I can start collecting this - I have all of the time this weekend and can farm this out through everyone across the system.

[2015-12-17 00:46] GabeIsman commented on #121
Any format! Spreadsheet is probably the easiest. Would be great to get the associated stations call letters at a bare minimum. Anything else is gravy!

[2015-12-17 13:17] melodykramer commented on #121
Great! I can do this task this weekend - am going to self-assign.

[2015-12-17 13:18] melodykramer commented on #120
That page looks amazing. I agree - what about Gravatar?

[2015-12-17 13:20] melodykramer commented on #114
I think this is more than enough for MVP!

[2015-12-17 13:20] melodykramer commented on #112
:+1:

[2015-12-17 19:21] GabeIsman commented on #121
@melodykramer Want to actually make a new issue for the data collection piece? Just so this UI question is still captured somewhere. Thanks!

[2015-12-17 19:24] GabeIsman commented on #120
I'm pro Gravatar as default people profiles! @melodykramer you can play with what we've got going so far here: http://mediapublic.ryansb.com/#organizations/new. The navigation isn't super hooked up so you have to do some url editing: http://mediapublic.ryansb.com/#people/new, http://mediapublic.ryansb.com/#recordings/new, etc.

[2015-12-18 13:33] melodykramer commented on #111
I defer to @nkkl on this, but agree that we wouldn't want to give everyone the ability to edit these fields.

[2015-12-18 13:41] melodykramer commented on #108
I think that's accurate.

[2015-12-18 13:45] melodykramer commented on #107
I'm not sure we'd want people to be able to self-identify without a mechanism for approval. I worry about anyone checking yes. Perhaps they could check yes, and then an admin could verify "Yup, they're a member of a station..." and it would appear as such? Or perhaps they have to use their work email? That might help with folks who currently work at stations but do not in the future.

(This is the

[2015-12-18 13:58] melodykramer commented on #106
Agreed for "nice to have, but not MVP"

[2015-12-18 14:03] melodykramer commented on #105
Happy to look at mockups

[2015-12-18 14:03] melodykramer commented on #103
Agreed that Twitter bio will suffice.

[2015-12-18 14:03] melodykramer commented on #87
Awesome, let me know if I can play around with a version this weekend and give feedback.

[2015-12-18 19:46] GabeIsman commented on #122
A 'podcast', in our sense, is a list of 'recordings', which are individual pieces of audio. So the recording will have the title + optional description + duration (good idea). Seems like podcasts just need title + optional description + org_id?

[2015-12-18 19:51] GabeIsman opened #152 "Collect initial people data"
This should include twitter handle, organization call letters, first name, last name.

Doesn't have to be exhaustive at all, just something to seed the database so the site doesn't look empty!

[2015-12-18 19:51] GabeIsman commented on #121
@melodykramer Assigned you to #152 instead.

[2015-12-20 22:05] melodykramer commented on #79
Placeholder copy is in, on the branch copy-changes

[2015-12-20 22:08] nkkl opened #154 "Create a tile color palette"
- [x] HowTo, Info, Help Requests, Stories
- [x] Make the colors as accessible as possible!

[2015-12-20 22:12] nkkl commented on #79
I think we've addressed the spirit of this issue, so I'm going to close it. I have an issue filed on me to modify the tile colors, but overall I think we've locked on our first rev of what info will go on this page. Let's have future modifications be driven by new issues.

[2015-12-20 22:12] #79 closed

[2015-12-20 22:13] nkkl commented on #105
Addressed in https://github.com/mediapublic/mediapublic/pull/146

Please file feedback/change requests as new issues.

[2015-12-20 22:13] #105 closed

[2015-12-21 00:04] melodykramer commented on #152
Here's the data from three stations: https://docs.google.com/spreadsheets/d/1BzMI5L5FL16-rhE0i9JCKNJggvlZBUOYX35mcxDKXSc/edit?usp=sharing

Here are my questions
- There are other ways to sort aside from station. The most useful, I think, is beat. This would allow someone to find everyone covering science.
- How is this set up so that the data doesn't immediately become old when someone leaves?
- I

[2015-12-21 00:05] melodykramer commented on #152
@GabeIsman I'm assigning this back to you to take a look.

[2015-12-21 21:12] GabeIsman commented on #152
@melodykramer Looks good. Would be awesome to include beat if it's easily available.

The purpose of this initial data is not so much to have a comprehensive list, but just to get us past that empty feeling of a brand new website. To that end, it might be more useful to have a few people from several different stations, rather than all the people from one (although it might be good to see if we ca

[2015-12-21 21:15] GabeIsman commented on #152
Assigning back to you in case you do want to add beat. We don't actually have a way to surface/sort by/search for beat at this point so that's clearly not super high priority.

[2015-12-22 15:44] melodykramer commented on #152
I can add beats tonight.

[2015-12-27 01:39] ismcodes opened #156 "Where should XMLHttpRequests be made?"
It would be convenient to make HTTP requests from Backbone/Marionette, but that would put more stress on that server- delegating that work to the client's device could reduce the load. Also, if the data from the response is needed to render a view, I would think that the server would need to wait for that request to come back in order to render the template with that data inside, thus increasing t

[2015-12-30 14:28] GabeIsman commented on #156
I'm not sure I understand your question. Marionette is a client-side framework--a layer on top of Backbone--that we are using to structure the client app. The client makes a lot of XHRs already, and adding one should be no problem. What problem are you trying to solve?

In general, XHRs originate in a model. See any of the models in the client app for an example. The XHR is made when `fetch` or `s

[2015-12-30 18:48] ismcodes commented on #156
That makes sense. I think I assumed that Marionette ran off a node server, but that seems to be just serving the static files. Thanks for clearing it up.

[2015-12-30 18:48] #156 closed

[2016-01-02 01:43] GabeIsman opened #157 "Homepage Feedback"
I've got some comments on the home page design, I should've put them in the PR maybe, but mostly they just occurred to me so here goes:

1. It feels a bit cramped. I think it could benefit from a little more whitespace.
2. I want it to be centered. It's close enough to centered that it feels like it should just be centered. Probably just a personal preference, but it gives me kind of an uneasy fee

[2016-01-02 01:47] GabeIsman opened #158 "Investigate integrating the US Web Design Standards"
It's been suggested a couple of times that we leverage the UI components and design from the [US Web Design Standards](https://playbook.cio.gov/designstandards/). At first glance this seems like it's going to be very challenging to integrate, since we are using a module-based system for dependencies, and the components are not organized as modules. Worth investigating a little more though before w

[2016-01-02 01:52] nkkl commented on #158
It's worth noting that the designs I've been exploring have largely followed the posted standards. There are some areas where the documentation is unclear (especially around their grid system), but the colors and typography are pretty in line with the guidelines.

That said, I haven't found any particular "special sauce" in the standards that an experienced team can't independently devise. I get t

[2016-01-02 01:59] GabeIsman commented on #158
@nkkl Got it, that's good to know. I think I have some stylistic disagreements with the design standards from an aesthetic perspective (although I like the fonts). The colors feel very generic American. Which may or may not be what we're going for. I also don't really like their inputs (particularly the focus states). Probably a bit of not-invented-here syndrome going on :), but my personal prefer

[2016-01-02 02:05] nkkl commented on #158
Agreed. We can have a quick chat about colors and personality, and I'll work within that to find accessible color combinations. I've worked with the [OLPC](http://one.laptop.org/) accessibility guidelines, and done plenty of checking for accessible color combinations outside of that.

I'm less experienced with screenreaders, but we should be able to look up a good checklist for that as well.

[2016-01-02 02:05] GabeIsman opened #159 "Set up DNS"
We need to point a url at the staging server I've set up. Perhaps `staging.mediapublic.io`? We can then either set up a production box or just point `mediapublic.io` at the staging server, whenever we hit our first real release.

[2016-01-02 02:09] GabeIsman commented on #158
Yep. We will need to do a screenreader audit at some point. I've been sprinkling `aria-label`s and `aria-role`s, etc whenever I remember, but I'm sure I've missed some. Also I've been paying no attention at all to to `tabindex`es and screenreader navigation, which a framework wouldn't really help anyway. I'll open an issue so we don't forget.

[2016-01-02 02:09] nkkl commented on #158
A++

[2016-01-02 02:10] GabeIsman opened #160 "Screenreader audit"
Once we have a fairly functional website we should do a full audit for screenreader accessibility.

[2016-01-05 00:39] thequbit commented on #111
Per discussion on hangouts, I think we should just link to the resource that will be edited.  No need to make the tile itself editable.  Closing.

[2016-01-05 00:39] #111 closed

[2016-01-05 00:42] thequbit commented on #83
Do to our level of abstraction for different pages, the collections pages all end up being very similar.

The pages that are the same are #83 and #85.

[2016-01-05 00:42] #83 closed

[2016-01-05 00:42] thequbit commented on #85
Do to our level of abstraction for different pages, the collections pages all end up being very similar.

The pages that are the same are #83 and #85.

[2016-01-05 00:42] #85 closed

[2016-01-05 00:44] nkkl commented on #86
Visually identical to #84

[2016-01-05 00:44] #86 closed

[2016-01-05 00:46] nkkl opened #161 "Design search results page."
- [x] Recordings / Podcasts (Media)
- [x] How Tos
- [x] People
- [x] Organizations

[2016-01-05 00:52] nkkl commented on #122
This is what you get if you click through on a podcast from search/org pages.

[2016-01-05 00:57] nkkl commented on #103
- Should have a way to look up and request to join an organization

[2016-01-05 00:57] thequbit commented on #107
I think the answer on the back-end is a single flag of "is_org_confirmed", and we will filter on that if not admin.  Otherwise, will have a checkbox to update the user to set the flag to true.

On the front-end, we'll return the users to the organization page ( when logged in as an admin ) ordered by the flag - showing the un-confirmed items in the top of the list.  A checkbox to confirm, and an X

[2016-01-05 01:00] #97 closed

[2016-01-05 01:01] nkkl commented on #80
Covered by #155

[2016-01-05 01:01] #80 closed

[2016-01-05 01:03] GabeIsman opened #162 "Signup route needs to wrap current user attributes in a Person model"
https://github.com/mediapublic/mediapublic/blob/develop/client/app/users/signup/route.js#L13

[2016-01-05 01:06] GabeIsman commented on #162
Blocked by #108.

[2016-01-05 01:07] thequbit opened #163 "Place screen shots in design issues"
- [x] #161 - Design search results page
- [x] #81 - Design the organizations page
- [x] #84 - Design the Howto page
- [x] #103 - Design User Settings page
- [x] #114 - Design the create/edit Help Request page

[2016-01-05 01:31] #93 closed

[2016-01-05 01:31] #142 closed

[2016-01-05 01:35] thequbit commented on #107
I will make this change when I close #108.

[2016-01-05 01:47] GabeIsman commented on #147
Fixed by #150.

[2016-01-05 01:47] #147 closed

[2016-01-05 01:52] #149 closed

[2016-01-05 02:02] GabeIsman opened #164 "Figure out isAdmin distinction on the client"
We need a signal for isAdmin vs. not and need to show/hide the relevant edit buttons. Basically client permissions need to be sorted out.

[2016-01-05 18:50] GabeIsman commented on #161
Current page above the fold:
<img width="1429" alt="screenshot 2016-01-05 10 48 38" src="https://cloud.githubusercontent.com/assets/697801/12124258/f97bb05a-b399-11e5-967e-2cdca12ad088.png">

below the fold:
<img width="1417" alt="screenshot 2016-01-05 10 48 46" src="https://cloud.githubusercontent.com/assets/697801/12124383/13e306c8-b39a-11e5-9f19-dda1077b186b.png">

[2016-01-05 18:54] GabeIsman commented on #81
Current page (expanded):
<img width="1433" alt="screenshot 2016-01-05 10 53 19" src="https://cloud.githubusercontent.com/assets/697801/12124472/93ef6bcc-b39a-11e5-8b98-dc37e40198ce.png">

below the fold:
<img width="1424" alt="screenshot 2016-01-05 10 54 14" src="https://cloud.githubusercontent.com/assets/697801/12124505/b1eaa844-b39a-11e5-9fc9-0e84fe4be494.png">

[2016-01-05 18:57] GabeIsman commented on #84
Super barebones current implementation. Opening an issue to implement your design here.
<img width="1416" alt="screenshot 2016-01-05 10 56 40" src="https://cloud.githubusercontent.com/assets/697801/12124591/0f4c7dbe-b39b-11e5-9344-89724e64c8b8.png">

[2016-01-05 18:58] GabeIsman opened #165 "Implement How To page"
The design in #84 is looking good. Time to implement!

[2016-01-05 19:01] GabeIsman commented on #103
Really just a list of fields at this point, but here is the user settings page:
<img width="1426" alt="screenshot 2016-01-05 10 59 22" src="https://cloud.githubusercontent.com/assets/697801/12124671/9308fd76-b39b-11e5-9015-814d9cb44edc.png">
<img width="1422" alt="screenshot 2016-01-05 10 59 31" src="https://cloud.githubusercontent.com/assets/697801/12124674/9876ee94-b39b-11e5-8a36-508070cae2c1.pn

[2016-01-05 19:03] GabeIsman commented on #114
What currently exists:
<img width="1435" alt="screenshot 2016-01-05 11 02 36" src="https://cloud.githubusercontent.com/assets/697801/12124722/e60f821a-b39b-11e5-9df4-efa6b496095b.png">
<img width="1430" alt="screenshot 2016-01-05 11 02 47" src="https://cloud.githubusercontent.com/assets/697801/12124726/ebe36300-b39b-11e5-8326-7588fa9a8657.png">

[2016-01-05 19:03] #163 closed

[2016-01-05 19:06] GabeIsman opened #166 "Pull Twitter bio"
We need to actually pull the Twitter bio to use on the profile page. I think it comes over in the login authorization request from Twitter, not certain though.

[2016-01-10 21:37] thequbit commented on #91
Working on this this evening.

[2016-01-10 23:01] ismcodes commented on #87
@melodykramer still have a few things to touch up & merge conflicts, but if you pull [my branch](https://github.com/ismcodes/mediapublic/tree/playlists-bookmarklet) and rebuild with `gulp watch` it should work.

[2016-01-11 18:46] GabeIsman commented on #164
@thequbit How does the backend store/manage admin permissions? How do I determine if a user is an admin?

[2016-01-11 19:55] thequbit commented on #164
I can supply a "is_admin" boolean in the user response.

I think I would lean to creating a class ...

[code]

And then on each page load, after rendering is complete, if user.is_admin is true, then find all elements with isAdmin and do .show().

Right now we do it with UserTypes, but for this MVP I can just make it a boolean in the user table itself.  And then only give access to set that flag fr

[2016-01-11 20:09] GabeIsman commented on #164
That sounds good to me!

Do we have a general solution for pulling in related models (such as UserTypes in Users)? There are a bunch of cases where related data would be useful to include by default.

[2016-01-11 20:11] GabeIsman commented on #107
@thequbit How do we ensure that only users who are admins of the relevant org can update the "is_org_confirmed" flag? Sorry, I don't really understand the server permissions model very well.

[2016-01-11 20:19] GabeIsman commented on #108
This has been fixed.

[2016-01-11 20:19] #108 closed

[2016-01-12 02:18] thequbit commented on #112
@GabeIsman does `organization_id` and `user_id` cover all your needs?  I think so, right?  And then I'll also support full-text search if `q=<search_term>` is added ( per the above comment ).

[2016-01-12 02:39] thequbit commented on #112
correction, i'll be implementing as `org_id`, not `organization_id`.

[2016-01-12 04:22] nkkl commented on #81
Design submitted in https://github.com/mediapublic/mediapublic/pull/173!

[2016-01-12 04:22] #81 closed

[2016-01-12 13:46] thequbit commented on #164
Yea, I'm working on the related data thing.  That's where that Zope stuff burned us.  I'll work on figuring that out this evening.

[2016-01-12 19:26] GabeIsman commented on #158
Spent a few more minutes looking into this, and I think this is not going to be worth the headache.

[2016-01-12 19:26] #158 closed

[2016-01-12 19:39] #162 closed

[2016-01-12 20:35] GabeIsman opened #174 "Navigation"
We need some UX around navigation.

[2016-01-12 20:46] GabeIsman commented on #157
I'm working on implementing the home page and I'm still struggling with some of these concerns. In particular right now I'm in a fight with the dark blue color. It's very dark. It also really doesn't work layered over an image. Just playing around with this a bit here:

<img width="1436" alt="screenshot 2016-01-12 12 41 46" src="https://cloud.githubusercontent.com/assets/697801/12276338/19ffe4f0-b

[2016-01-12 21:11] thequbit commented on #157
I personally don't have an issue with the dark blue.  I think if we go much lighter we get into the territory of "Facebook blue".

I do like what you did with the logout area!

[2016-01-12 23:56] thequbit commented on #164
so I am adding `is_site_admin` and `is_org_admin`.  That way we can have site-wide admin things, and just organization admin things.  @GabeIsman does that make sense to you?  We can just trigger everything off of `is_site_admin` for now, I think.

[2016-01-13 01:01] thequbit opened #176 "Polush up orgs page"
Group orgs by state on orgs page, and make it look prettier.

[2016-01-13 01:23] thequbit opened #177 "What we want for Jan 15th deadline of presentation"
- [ ] Homepage
  - [ ] Pretty picture on top
  - [ ] Search bar
  - [ ] Search results in "real-time"
    - [ ] Orgs
    - [ ] People
    - [ ] Help Requests
    - [ ] Howtos

- [ ] Organizations List
  - [ ] Display by state

- [ ] Organization Landing Page
  - [ ] Display Extra Info
  - [ ] Display People
  - [ ] Display Howtos
  - [ ] Display Help Requests
    - [ ] Display all info for this he

[2016-01-13 05:34] nkkl commented on #157
1. Awesome feedback, thanks @GabeIsman for taking the time to write this up! I also love pulling in a hero image! Let's throw our description and call to action (e.g. prepopulated query/search) into that.
2. The whitespace and typography still feels wonky to me, too, but I've been letting things be "good enough" until I can get out a first draft of every undesigned page. I'll keep this in mind as

[2016-01-14 00:09] GabeIsman commented on #157
1. Thanks for the thoughtful response @nkkl! Will do.
2. Totally understand that. I'm doing exactly the same thing on my end :).
3. I like the current header! As I mentioned I worry a little that the color is too dark, but it's a good height I think.
4. Great.
5. I think that's a great idea, the trouble is that I'm not sure our search is going to work well enough to make interesting queries possib

[2016-01-14 00:29] GabeIsman commented on #165
Per our discussion last night @thequbit is going to take this one.

[2016-01-14 01:43] thequbit opened #182 "Make organizations page pretty"
This is the action that came out of #177 .

[2016-01-14 01:45] thequbit commented on #182
@GabeIsman I'm having a hard time figuring out how to get the actual list of returned orgs.  I see that collection is used all over, but I'm having a hard time figuring out how to get to the data within that object ( specificity so I can rearrange to group by state ).  I thought I had a better grip on how you had abstracted things, but I got lost in the layers, ha.

[2016-01-14 01:57] GabeIsman commented on #182
@thequbit So Backbone mixes underscore collection handling methods right into the collection. So you can do `collection.groupBy('state')` and you'll get and object like `{ AL: [...], AK: [...],... }`. See http://backbonejs.org/docs/backbone.html#section-146.

[2016-01-14 01:58] GabeIsman commented on #182
Alternately if you want to be more explicit, `collection.models` is just the array of model objects.

[2016-01-14 02:11] GabeIsman opened #184 "User organization_id can't be overwritten"
When I try to save an empty string to the organization_id nothing happens, no error, just no change in the data.

[2016-01-14 02:40] #164 closed

[2016-01-14 02:41] GabeIsman commented on #164
Fixed by #180.

[2016-01-14 03:29] thequbit commented on #184
Herm. Weird. I may need to substitute the empty string for null.   I assume you can't actually PUT with null, right?

[2016-01-15 02:26] nkkl commented on #157
Good point about search. "Search for your local station" sounds like a good way to set up users for success.

[2016-01-15 03:06] thequbit commented on #184
@GabeIsman if I set my org to "WXXI" and hit save, all works great.  If I the edit it, and delete the contents of the text box and hit save, it sends the org id for WXXI in the json payload, not "" or null.  I think I've got the fix in the server, but don't have a solid way to test it ...

[2016-01-15 03:42] GabeIsman commented on #184
Hmm. Looking into it. Seems to be something unexpected happening in
backbone forms code.

On Thu, Jan 14, 2016 at 7:06 PM, Timothy Duffy notifications@github.com
wrote:

[2016-01-15 03:59] GabeIsman commented on #184
Well I was wrong about the location, but man what a nasty little bug. Apparently typeahead.js doesn't fire a 'change' event when the value of the input is the empty string. Fix is up in a PR now.

[2016-01-15 04:00] GabeIsman commented on #184
To be clear, this is still an issue, you'll just be able to test your fix now.

[2016-01-15 04:01] thequbit commented on #184
Gotcha.  Will test and submit in the AM.  Nice find.

[2016-01-17 03:43] nkkl commented on #154
Resolved with #190

[2016-01-17 03:43] #154 closed

[2016-01-17 03:43] nkkl commented on #161
Resolved with #190

[2016-01-17 03:43] #161 closed

[2016-01-17 03:44] nkkl commented on #157
~~@GabeIsman Can you drop the latest screenshot of the version you're working on, for easier reference in this thread? Lots of good stuff there!~~ (nvm I'm silly) (although it would be good to have the latest thing in here)

I'm starting to trawl through Flickr and my other go-to CC image sources to see what options we have for hero images.

[2016-01-17 03:50] nkkl commented on #174
How about some breadcrumbs coming off the site anchor:
![image](https://cloud.githubusercontent.com/assets/766654/12375842/4c315aa4-bc8a-11e5-860b-04d9643cf6e3.png)

Then we don't have to worry about reclaiming space on non-mobile devices, so we don't grow the footprint of the header.